<header>
    <div class="container-fluid d-flex align-items-center">
        <a routerLink="" class="nav-home mt-1"><img src="{{ globals.appJSRoot }}assets/images/task-management-logo.svg" width="35" height="35"></a>
        <ul class="nav">
            <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Taskboard</a></li>
            <li><a routerLink="clients" routerLinkActive="active">Clients</a></li>
            <li><a routerLink="timesheet" routerLinkActive="active">Timesheet</a></li>
            <li><a routerLink="reporting" routerLinkActive="active">Reporting</a></li>
        </ul>
        <div class="ml-auto" *ngIf="me$ | async as me">
            <a avatar [id]="me.id" class="avatar" href="{{ globals.logoutUrl }}">
                <i class="avatar-close icon-cancel"></i>
            </a>
        </div>
    </div>
</header>
<router-outlet></router-outlet>