{% extends 'partials/login.html' %}
{% load i18n %}
{% block page_title %}Login{% endblock %}
{% block box_content %}
    <form class="form" method="post" novalidate>
        {% csrf_token %}
        {{ form }}

        <div class="row mt-1">
            <div class="col-6">
                <input type="submit" class="button button-primary" value="Login">
            </div>
            <div class="col-12 col-md-6 text-right">
                <a href="{% url 'password_reset' %}" class="c-white">{% trans 'Forgotten password?' %}</a>
            </div>
        </div>

    </form>
    <div>

    </div>
{% endblock %}