<script>
    $("[data-make-call-url]").click(function (evt) {

        evt.preventDefault();

        ajaxHeaders = {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        };

        toastr.options = {
          "closeButton": true,
          "progressBar": true,
          "positionClass": "toast-bottom-right",
          "timeOut": "5000",
        };

        $.ajax({
            url: $(this).data("make-call-url"),
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: JSON.stringify({
                telephone_number: $(this).data("tel")
            }),
            method: "POST",
            success: function (data) {
                toastr["success"](data.message, "Success");
            },
            error: function (data) {
                toastr["error"](data.responseJSON.message, "Error", {"timeOut": "10000"});
            },
        });
    });
</script>