{# https://codeseven.github.io/toastr/demo.html #}

{% if messages %}
<script>
    toastr.options = {
      "closeButton": true,
      "progressBar": true,
      "positionClass": "toast-bottom-right",
      "timeOut": "5000",
    };
    {% for message in messages %}
        {% if 'error' in message.tags %}
            toastr["{{ message.tags }}"]("{{ message }}", "{{ message.tags|capfirst }}", {"timeOut": "10000"});
        {% else %}
            toastr["{{ message.tags }}"]("{{ message }}", "{{ message.tags|capfirst }}");
        {% endif %}
    {% endfor %}
</script>
{% endif %}