{% extends 'base.html' %}
{% load i18n wip_tags %}
{% block page_title %}Reporting - Job Time Analysis Report{% endblock %}
{% block body_class %}{% endblock %}
{% block inner_content %}
    <div class="page-header py-2">
        <div class="container-fluid d-flex align-items-center c-white">
            <div class="h2 mr-2">{% trans 'Job Time Analysis Report' %}</div>
            {% if form.get_job and form.date_from.value and form.date_to.value %}
                <div class="mr-2"><strong>{{ form.get_job.client }} / {{ form.get_job }}</strong></div>
                <div class="mr-2"><strong>{{ form.date_from.value }} to {{ form.date_to.value }}</strong></div>
            {% endif %}
            <div class="page-header-actions c-white">
                <div class="filter-box">
                    <a class="pointer">Choose the dates and job <i class="icon-down-open"></i></a>
                    <div class="filter-options" {% if not form.errors %}style="display:none"{% endif %}>
                        <form method="get" novalidate>
                            {% for field in form %}
                                {{ field.label_tag }}
                                {{ field }}
                                {{ field.errors }}
                            {% endfor %}
                            <button class="button button-primary" type="submit">{% trans 'Refresh' %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid inner-content">
        <div class="panel">
            <h3>{% trans 'Time Spent by Staff' %}</h3>
            <table class="table-headed">
                <thead>
                    <tr>
                        <th>{% trans 'User' %}</th>
                        <th class="keep-min-width">{% trans 'Time Spent (in period)' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in time_by_staff %}
                        <tr>
                            <td>{{ user.get_full_name }}</td>
                            <td class="text-right">{{ user.time_spent|duration_decimal|default:'-' }}</td>
                        </tr>
                    {% empty %}
                        <tr><td colspan="2">{% trans 'No records found' %}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="panel">
            <h3>{% trans 'Chargeable Time Spent by Staff' %}</h3>
            <table class="table-headed">
                <thead>
                    <tr>
                        <th>{% trans 'Task' %}</th>
                        <th class="keep-min-width">{% trans 'Time Spent (in period)' %}</th>
                        <th class="keep-min-width">{% trans 'Time Spent (to date)' %}</th>
                        <th class="keep-min-width">{% trans 'Total Allocated Time' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in billable_time_by_staff %}
                        <tr>
                            <td>{{ task }}</td>
                            <td class="text-right">{{ task.time_spent_in_period|duration_decimal|default:'-' }}</td>
                            <td class="text-right">{{ task.time_spent_to_date|duration_decimal|default:'-' }}</td>
                            <td class="text-right">{{ task.allocated_hours }}</td>
                        </tr>
                    {% empty %}
                        <tr><td colspan="4">{% trans 'No records found' %}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="panel">
            <h3>{% trans 'Non Chargeable Time Spent by Staff' %}</h3>
            <table class="table-headed">
                <thead>
                    <tr>
                        <th>{% trans 'Task' %}</th>
                        <th class="keep-min-width">{% trans 'Time Spent (in period)' %}</th>
                        <th class="keep-min-width">{% trans 'Time Spent (to date)' %}</th>
                        <th class="keep-min-width">{% trans 'Total Allocated Time' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in non_billable_time_by_staff %}
                        <tr>
                            <td>{{ task }}</td>
                            <td class="text-right">{{ task.time_spent_in_period|duration_decimal|default:'-' }}</td>
                            <td class="text-right">{{ task.time_spent_to_date|duration_decimal|default:'-' }}</td>
                            <td class="text-right">{{ task.allocated_hours }}</td>
                        </tr>
                    {% empty %}
                        <tr><td colspan="4">{% trans 'No records found' %}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}

{% block extra_js %}
    {{ form.media }}
{% endblock %}