{% extends 'base.html' %}
{% load i18n static wip_tags %}
{% block page_title %}Reporting{% endblock %}
{% block body_class %}{% endblock %}
{% block content %}
{% include 'reporting/partials/header.html' %}
<div class="page-header py-2">
    <div class="container-fluid d-flex align-items-center">
        <div class="h2">{% trans 'Reporting' %}</div>
        <div class="page-header-actions"></div>
    </div>
</div>
<div class="container-fluid inner-content">
    <ul class="list-style-none">
        <li>
            <p class="h3"><a href="{% url 'reporting:job-time-analysis' %}" class="underline-dotted">{% trans 'Job Time Analysis' %}</a></p>
            <p>{% blocktrans %}Report that shows time spent for a job over a period of time. Includes allocated and chargeable time.{% endblocktrans %}</p>
        </li>
        <li>
            <p class="h3"><a href="{% url 'reporting:moneyworks-timesheet-export' %}" class="underline-dotted">{% trans 'Moneyworks Timesheet Export' %}</a></p>
            <p>{% blocktrans %}Report that exports users timesheets in the format that Moneyworks can import.{% endblocktrans %}</p>
        </li>
    </ul>
</div>
{% endblock %}
