{% extends 'base.html' %}
{% load i18n wip_tags %}
{% block page_title %}Reporting - Moneyworks Timesheet Export{% endblock %}
{% block body_class %}{% endblock %}
{% block inner_content %}
    <div class="page-header py-2">
        <div class="container-fluid d-flex align-items-center c-white">
            <div class="h2 mr-2">{% trans 'Moneyworks Timesheet Export' %}</div>
        </div>
    </div>
    <div class="container-fluid inner-content">
        <div class="panel">
            <form method="post" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                {% endfor %}
                <div class="text-right">
                    <button class="button button-primary" type="submit">{% trans 'Download CSV' %}</button>
                </div>
            </form>
        </div>

    </div>
{% endblock %}

{% block extra_js %}
    {{ form.media }}
{% endblock %}