<div class="page-header py-2">
    <div class="container-fluid d-flex align-items-center">
        <div class="h2">Clients</div>
        <div class="page-header-actions">
            <a routerLink="/clients/new" class="button button-white">Add</a>
        </div>
    </div>
</div>
<div class="container-fluid inner-content">
    <div class="panel">
        <div class="row">
            <div class="col-6"><search [(ngModel)]="searchTerms"></search></div>
        </div>
        <table class="table-headed table-hover margin-zero layout-fixed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email Address</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                <tr [routerLink]="['/clients', client.id]" class="pointer" *ngFor="let client of clients$ | async | clientSearch:searchTerms">
                    <td>{{ client.name }}</td>
                    <td>{{ client | get:'email_address' }}</td>
                    <td>{{ client | get:'phone_number' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>