<ng-container *ngIf="form">
    <div class="page-header">
        <div class="container-fluid d-flex align-items-center py-2">
            <ng-container *ngIf="client">
                <span class="color-indicator" [style.backgroundColor]="client.colour"></span>
                <div class="h2">
                    <a [routerLink]="['/clients', client.id]" class="underline-dotted">{{ client | get:'name' }}</a> /
                    <ng-container *ngIf="contact">{{ contact | get:'first_name' }} {{ contact | get:'last_name' }}</ng-container>
                    <ng-container *ngIf="!contact">New</ng-container>
                </div>
                <div class="page-header-actions">
                    <a class="button button-white" (click)="form.save($event)">Save</a>
                    <a [routerLink]="['/clients', client.id]" class="button button-white button-clear">Cancel</a>
                </div>
            </ng-container>
        </div>
        <div class="container-fluid">
            <ul class="tabs">
                <li class="active">Detail</li>
            </ul>
        </div>
    </div>
    <div class="container-fluid inner-content">
        <label>First Name</label>
        <input type="text" [formControl]="form.controls.first_name" />
        <p class="c-red" *formError="form.controls.first_name">Please enter a first name</p>

        <label>Last Name</label>
        <input type="text" [formControl]="form.controls.last_name" />
        <p class="c-red" *formError="form.controls.first_name">Please enter a last name</p>

        <label>Phone Number</label>
        <input type="text" [formControl]="form.controls.phone_number" />
        <p class="c-red" *formError="form.controls.phone_number">Please enter a valid phone number (ie 01603 766062)</p>
        
        <label>Mobile Number</label>
        <input type="text" [formControl]="form.controls.mobile_number" />
        <p class="c-red" *formError="form.controls.mobile_number">Please enter a valid mobile number (ie 07123 456789)</p>
        
        <label>Email Address</label>
        <input type="text" [formControl]="form.controls.email_address" />
        <p class="c-red" *formError="form.controls.email_address">Please enter a valid email address</p>

        <label>Address</label>
        <textarea autoResize [formControl]="form.controls.address"></textarea>
        
        <label>Notes</label>
        <textarea autoResize [formControl]="form.controls.notes"></textarea>

    </div>
</ng-container>
