<ng-container *ngIf="client$ | async as client">
    <div class="page-header">
        <div class="container-fluid d-flex align-items-center py-2">
            <span class="color-indicator" [style.backgroundColor]="client.colour"></span>
            <div class="h2">{{ client.name }}</div>
            <div class="page-header-actions">
                <a class="button button-white" [routerLink]="['/clients', client.id, 'detail']">Edit</a>
                <a class="button button-white button-clear" [routerLink]="['/clients', client.id, 'delete']">Delete</a>
            </div>
        </div>
        <div class="container-fluid">
            <ul [tabs]="(tabs$ | async).client" [type]="'client'" (activeTab)="selectedTab = $event" class="tabs"></ul>
        </div>
    </div>
    <div class="container inner-content">
        <div *ngIf="selectedTab.title == 'Detail'">  
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <dashboard-statistic
                        icon="icon-attention-alt"
                        [statistic]="(jobs$ | async | openJobs).length"
                        description="Open jobs">
                    </dashboard-statistic>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <dashboard-statistic
                        icon="icon-ok"
                        [statistic]="(jobs$ | async | closedJobs).length"
                        description="Closed jobs">
                    </dashboard-statistic>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3"> <!-- Left column -->
                    <dashboard-panel description="Details">
                        <p class="strong">Email Address</p>
                        <p>
                            <a *ngIf="client.email_address; else emptyValue" href="mailto://{{ client.email_address }}" class="underline-dotted">{{ client.email_address }}</a>
                        </p>
                        <hr/>
                        <p class="strong">Phone Number</p>
                        <p>
                            <ng-container *ngIf="client.phone_number; else emptyValue">
                                <a href="tel:{{ client.phone_number }}" class="underline-dotted">{{ client.phone_number }}</a>
                                <a *ngIf="(me$ | async)?.is_gradwell_enabled" (click)="call(client.phone_number)" class="pointer"><i class="icon-phone c-red"></i></a>
                            </ng-container>    
                        </p>
                        <hr/>
                        <p class="strong">Website</p>
                        <p>
                            <a *ngIf="client.website; else emptyValue" href="{{ client.website }}" class="underline-dotted">{{ client.website }}</a>
                        </p>
                        <hr/>
                        <p class="strong">Address</p>
                        <p class="ws-pre-wrap">{{ client | get:'address' }}</p>
                    </dashboard-panel>
                </div>
                
                <div class="col"> <!-- Center column  -->
                    <div class="row">
                        <div class="col">
                            <dashboard-panel description="Notes">
                                <p class="ws-pre-wrap">{{ job | get:'notes' }}</p>
                            </dashboard-panel>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3"> <!-- Right column -->
                    <div class="row">
                        <div class="col">
                            <dashboard-panel description="Contacts">
                                <ng-container *ngIf="contacts$ | async as contacts">
                                    <div *ngIf="contacts.length > 0; else emptyContacts">
                                        <div *ngFor="let contact of contacts; let last=last;">
                                            <p class="mb-1">
                                                <strong>{{ contact.first_name }} {{ contact.last_name }}</strong>
                                            </p>
                                            <p class="m-0" *ngIf="contact | get:'email_address' as email">
                                                <strong>Email</strong>: 
                                                <a class="underline-dotted" href="mailto://{{ email }}">{{ email }}</a>
                                            </p>
                                            <p class="m-0" *ngIf="contact | get:'phone_number' as phone">
                                                <strong>Tel</strong>: 
                                                <a class="underline-dotted" href="tel://{{ phone }}">{{ phone }}</a>
                                            </p>
                                            <p class="m-0" *ngIf="contact | get:'mobile_number' as mobile">
                                                <strong>Mobile</strong>: 
                                                <a class="underline-dotted" href="tel://{{ mobile }}">{{ mobile }}</a>
                                            </p>
                                            <p class="m-0" *ngIf="contact | get:'_position.title' as position">
                                                <strong>Title</strong>: {{ position }}
                                            </p>

                                            <ul class="tags mt-1"><li tag [id]="tag.tag" class="tag" *ngFor="let tag of contact._tags"></li></ul>

                                            <hr *ngIf="!last"/>
                                        </div>
                                    </div>
                                </ng-container>
                            </dashboard-panel>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel" *ngIf="selectedTab.title == 'Jobs'">
            <div class="row">
                <div class="col-6"><search [(ngModel)]="openSearchTerms"></search></div>
                <div class="col-6"><a class="button button-white pull-right" [routerLink]="['/clients', client.id, 'jobs', 'new']">Add Job</a></div>
            </div>
            <table class="table-hover">
                <thead>
                    <tr>
                        <th class="keep-min-width pointer" (click)="orderOpenJobs('id')">
                            ID <i *ngIf="openOrderBy == 'id'" [class.icon-up-dir]="openOrderType == 'asc'" [class.icon-down-dir]="openOrderType == 'desc'"></i>
                        </th>
                        <th class="pointer" (click)="orderOpenJobs('title')">
                            Title <i *ngIf="openOrderBy == 'title'" [class.icon-up-dir]="openOrderType == 'asc'" [class.icon-down-dir]="openOrderType == 'desc'"></i>
                        </th>
                        <th class="keep-min-width pointer" (click)="orderOpenJobs('_status.title')">
                            Status <i *ngIf="openOrderBy == '_status.title'" [class.icon-up-dir]="openOrderType == 'asc'" [class.icon-down-dir]="openOrderType == 'desc'"></i>
                        </th>
                    </tr>
                </thead>
                <ng-container *ngIf="jobs$ | async | openJobs | jobSearch:openSearchTerms | orderBy : [openOrderBy] : [openOrderType] as jobs">
                <tbody *ngIf="jobs.length > 0; else emptyJobs">
                    <tr class="pointer" [routerLink]="['/clients', job.client, 'jobs', job.id]" *ngFor="let job of jobs">
                        <td class="keep-min-width">{{ job.id }}</td>
                        <td>{{ job.title }}</td>
                        <td class="keep-min-width">{{ job | get:'_status.title' }}</td>
                    </tr>
                </tbody>
                </ng-container>
            </table>
        </div>

        <div class="panel" *ngIf="selectedTab.title == 'Closed Jobs'">
            <div class="row">
                <div class="col-6"><search [(ngModel)]="closedSearchTerms"></search></div>
            </div>
            <table class="table-hover">
                <thead>
                    <tr>
                        <th class="keep-min-width pointer" (click)="orderClosedJobs('id')">
                            ID <i *ngIf="closedOrderBy == 'id'" [class.icon-up-dir]="closedOrderType == 'asc'" [class.icon-down-dir]="closedOrderType == 'desc'"></i>
                        </th>
                        <th class="pointer" (click)="orderClosedJobs('title')">
                            Title <i *ngIf="closedOrderBy == 'title'" [class.icon-up-dir]="closedOrderType == 'asc'" [class.icon-down-dir]="closedOrderType == 'desc'"></i>
                        </th>
                        <th class="keep-min-width pointer" (click)="orderClosedJobs('_status.title')">
                            Status <i *ngIf="closedOrderBy == '_status.title'" [class.icon-up-dir]="closedOrderType == 'asc'" [class.icon-down-dir]="closedOrderType == 'desc'"></i>
                        </th>
                    </tr>
                </thead>
                <ng-container *ngIf="jobs$ | async | closedJobs | jobSearch:closedSearchTerms | orderBy : [closedOrderBy] : [closedOrderType] as jobs">
                <tbody *ngIf="jobs.length > 0; else emptyJobs">
                    <tr class="pointer" [routerLink]="['/clients', job.client, 'jobs', job.id]" *ngFor="let job of jobs">
                        <td class="keep-min-width">{{ job.id }}</td>
                        <td>{{ job.title }}</td>
                        <td class="keep-min-width">{{ job | get:'_status.title' }}</td>
                    </tr>
                </tbody>
                </ng-container>
            </table>
        </div>

        <div class="panel" *ngIf="selectedTab.title == 'Contacts'">
                <div class="row">
                    <div class="col"><a class="button button-white pull-right" [routerLink]="['/clients', client.id, 'contacts', 'new']">Add Contact</a></div>
                </div>
                <table class="table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email Address</th>
                        <th>Phone Number</th>
                        <th>Mobile Number</th>
                        <th>Position</th>
                        <th>Tags</th>
                    </tr>
                </thead>
                <ng-container *ngIf="contacts$ | async as contacts">
                <tbody *ngIf="contacts.length > 0; else emptyContacts">
                    <tr class="pointer" [routerLink]="['/clients', client.id, 'contacts', contact.id]" *ngFor="let contact of contacts">
                        <td>{{ contact.first_name }} {{ contact.last_name }}</td>
                        <td>{{ contact | get:'email_address' }}</td>
                        <td>{{ contact | get:'phone_number' }}</td>
                        <td>{{ contact | get:'mobile_number' }}</td>
                        <td>{{ contact | get:'_position.title' }}</td>
                        <td><ul class="tags"><li tag [id]="tag.tag" class="tag" *ngFor="let tag of contact._tags"></li></ul></td>
                    </tr>
                </tbody>
                </ng-container>
            </table>
        </div>

    </div>
</ng-container>

<ng-template #emptyValue><span>-</span></ng-template>
<ng-template #emptyJobs><tbody><tr><td colspan="3">No jobs found.</td></tr></tbody></ng-template>
<ng-template #emptyContacts><tbody><tr><td colspan="5">No contacts found.</td></tr></tbody></ng-template>