<div class="button button-shadylady button-outline border-style-dotted mt-h mb-1" (click)="newTask()">
    <i class="icon-plus"></i> {{ status.title }}
</div>

<div class="board-card" *ngIf="newFormOpen">
    <textarea autoFocus autoResize [formControl]="newForm.controls.title" (keydown.enter)="newForm.save($event); false"></textarea>
    <button class="button" (click)="newForm.save($event)">Save</button>
</div>

<div autoScroll class="board-card-wrapper" 
    ngxDroppable="status-column"
    (drop)="dropTask($event)"
    [model]="tasks"
    *ngIf="tasks">
    <div task-card 
        [id]="task.id"
        ngxDraggable
        [model]="task"
        (click)="selectedTaskId=task.id"
        *ngFor="let task of tasks">
    </div>
</div>

<task-form
    [id]="selectedTaskId"
    (close)="selectedTaskId = null"
    *ngIf="selectedTaskId">
</task-form>