<div class="board-column-heading">
    <strong>{{ status.title }}</strong>
</div>

<div class="muted-button pointer text-center" (click)="newTask()">
    <i class="icon-plus"></i> 
    <span>Add Task</span>
</div>

<div class="board-card" *ngIf="newFormOpen">
    <textarea autoFocus autoResize [formControl]="newForm.controls.title" (keydown.enter)="newForm.save($event); false"></textarea>
    <button class="button" (click)="newForm.save($event)">Save</button>
</div>

<div autoScroll class="board-card-wrapper" 
    ngxDroppable="status-column"
    (drop)="dropTask($event)"
    [model]="tasks"
    *ngIf="tasks">
    <div task-card 
        [id]="task.id"
        ngxDraggable
        [model]="task"
        (click)="selectedTaskId=task.id"
        *ngFor="let task of tasks">
    </div>
</div>

<task-form
    [id]="selectedTaskId"
    (close)="selectedTaskId = null"
    *ngIf="selectedTaskId">
</task-form>