<ng-container *ngIf="job$ | async as job">
    <div class="page-header">
        <div class="container-fluid d-flex align-items-center py-2">
            <span class="color-indicator" [style.backgroundColor]="job.colour"></span>
            <div class="h2">
                <a [routerLink]="['/clients', job.client]" class="underline-dotted">{{ job | get:'_client.name' }}</a> /
                <a>{{ job.title }}</a>
            </div>
            <div class="page-header-actions">
                <button class="button button-white" type="submit">Edit</button>
                <a class="button button-white button-clear" >Delete</a>
            </div>
        </div>
        <div class="container-fluid">
            <ul class="tabs">
                <li (click)="selectedTab = 'detail'" [class.active]="selectedTab == 'detail'">Detail</li>
                <li (click)="selectedTab = 'tasks'" [class.active]="selectedTab == 'tasks'">Tasks</li>
                <li (click)="selectedTab = 'notes'" [class.active]="selectedTab == 'notes'">Notes</li>
                <li (click)="selectedTab = 'files'" [class.active]="selectedTab == 'files'">Files</li>
                <li (click)="selectedTab = 'relationships'" [class.active]="selectedTab == 'relationships'">Relationships</li>
                <li (click)="selectedTab = 'recurring_costs'" [class.active]="selectedTab == 'recurring_costs'">Recurring Costs</li>
            </ul>
        </div>
    </div>

    <ng-container *ngIf="selectedTab == 'tasks'">

        <div class="container-fluid d-flex flex-fill">
            <div class="d-flex flex-fill mt-1 mb-1 scroll-x">
                <div class="board-column" *ngFor="let status of statuses$ | async">
                    <div class="board-column-heading">
                        <strong>{{ status.title }}</strong>
                        <i class="icon-plus ml-auto" (click)="openCreateForm(status)"></i>
                    </div>
                    <div class="board-card-wrapper" 
                        ngxDroppable="status-column"
                        (drop)="droppedIntoColumn(status, tasks)"
                        [model]="tasks"
                        *ngIf="tasks$ | async | tasksByStatus:status.id as tasks">
                        <div task-card 
                            [id]="task.id"
                            ngxDraggable
                            [model]="task"
                            (click)="selectedTaskId=task.id"
                            *ngFor="let task of tasks">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <task-create-form
            [opened]="createFormOpen"
            [jobId]="jobId"
            [statusId]="createFormStatusId"
            (close)="createFormOpen = false"
            (saved)="selectedTaskId = $event.id"
            *ngIf="createFormOpen">
        </task-create-form>

        <task-form
            [id]="selectedTaskId"
            (close)="selectedTaskId = null"
            *ngIf="selectedTaskId">
        </task-form>

    </ng-container>
    
    <div class="container-fluid inner-content" *ngIf="selectedTab != 'tasks'">

        <div class="row" *ngIf="selectedTab == 'detail'">
            <div class="col-lg-3">
                <p class="strong">Time Spent (hours)</p>
                <p>-</p>
                <hr/>
                <p class="strong">Type</p>
                <p>{{ job | get:'_type.title' }}</p>
                <hr/>
                <p class="strong">Status</p>
                <p>{{ job | get:'_status.title' }}</p>
                <hr/>
                <p class="strong">Billed To</p>
                <p>{{ job | get:'billed_to' }}</p>
            </div>
            <div class="col-lg-9">
                <div class="panel panel-dark">
                    <p class="strong">Description</p>
                    <p class="ws-pre-wrap">{{ job | get:'description' }}</p>
                </div>
            </div>
        </div>

        <div class="panel" *ngIf="selectedTab == 'files'">
            <table class="table-hover layout-fixed">
                <thead>
                    <tr>
                        <th>File</th>
                    </tr>
                </thead>
                <ng-container *ngIf="files$ | async as files">
                <tbody *ngIf="files.length > 0; else emptyFiles">
                    <tr *ngFor="let file of files">
                        <td class="keep-min-width"><a href="{{ file.file }}" target="_blank">{{ file.file }}</a></td>
                    </tr>
                </tbody>
                </ng-container>
            </table>
        </div>
        
        <div class="panel" *ngIf="selectedTab == 'notes'">
            <div class="row mb-1-5">
                <div class="col-1"></div>
                <div class="col">
                    <textarea autoResize placeholder="Write some notes"></textarea>
                    <button class="button button-primary pull-right">Add</button>
                </div>
            </div>

            <ng-container *ngFor="let note of notes$ | async">
                <div class="row mb-1-5">
                    <div class="col-1"><div avatar [id]="note.user" class="avatar"></div></div>
                    <div class="col">
                        <div class="comment ws-pre-wrap">{{ note.note }}</div>
                        <span class="muted mr-1">{{ note.updated_at | date:'MMM d, y, h:mm a' }}</span>
                        <a class="underline-dotted">Edit</a> |
                        <a class="underline-dotted">Delete</a>
                    </div>
                </div>
            </ng-container>
        </div>

        <div class="panel" *ngIf="selectedTab == 'relationships'">
            <table class="table-hover layout-fixed">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Relationship</th>
                    </tr>
                </thead>
                <ng-container *ngIf="relationships$ | async as relationships">
                <tbody *ngIf="relationships.length > 0; else emptyRelationships">
                    <tr *ngFor="let relationship of relationships">
                        <td>{{ relationship | get:'_user.full_name' }}</td>
                        <td>{{ relationship | get:'_relationship.title' }}</td>
                    </tr>
                </tbody>
                </ng-container>
            </table>
        </div>

        <div class="panel" *ngIf="selectedTab == 'recurring_costs'">
            <table class="table-hover layout-fixed">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Last Invoiced Date</th>
                        <th>Billing Interval</th>
                        <th>Billing Frequency</th>
                        <th>Payment Option</th>
                    </tr>
                </thead>
                <ng-container *ngIf="recurringCosts$ | async as recurringCosts">
                <tbody *ngIf="recurringCosts.length > 0; else emptyRecurringCosts">
                    <tr *ngFor="let recurringCost of recurringCosts">
                        <td>{{ recurringCost | get:'_type.title' }}</td>
                        <td>{{ recurringCost | get:'last_invoiced_date' }}</td>
                        <td>{{ recurringCost | get:'billing_interval' }}</td>
                        <td>{{ recurringCost | get:'_billing_frequency.title' }}</td>
                        <td>{{ recurringCost | get:'_payment_option.title' }}</td>
                    </tr>
                </tbody>
                </ng-container>
            </table>
        </div>

    </div>
</ng-container>

<ng-template #emptyFiles><tbody><tr><td colspan="2">No files found.</td></tr></tbody></ng-template>
<ng-template #emptyRelationships><tbody><tr><td colspan="2">No relationships found.</td></tr></tbody></ng-template>
<ng-template #emptyRecurringCosts><tbody><tr><td colspan="5">No recurring costs found.</td></tr></tbody></ng-template>