<div [class.flex-fill-container]="selectedTab.title == 'Tasks'" *ngIf="job$ | async as job">
    <div class="page-header">
        <div class="container-fluid d-flex align-items-center py-2">
            <span class="color-indicator" [style.backgroundColor]="job.colour"></span>
            <div class="h2">
                <span>{{ job.id }} : </span>
                <a [routerLink]="['/clients', job.client]" class="underline-dotted">{{ job | get:'_client.name' }}</a> /
                <a>{{ job.title }}</a>
            </div>
            <div class="page-header-actions">
                <a class="button button-white" [routerLink]="['/clients', job.client, 'jobs', job.id, 'detail']">Edit</a>
                <a class="button button-white button-clear" [routerLink]="['/clients', job.client, 'jobs', job.id, 'delete']">Delete</a>
            </div>
        </div>
        <div class="container-fluid">
            <ul [tabs]="(tabs$ | async).job" [type]="'job'" (activeTab)="selectedTab = $event" class="tabs"></ul>
        </div>
    </div>

    <div class="container-fluid ov-hidden full-height" *ngIf="selectedTab.title == 'Tasks'">
        <div class="board-column-wrapper" autoScroll [scrollMargin]="100" [scrollMaxSpeed]="40">
            <div class="board-column"
                job-board-column
                [jobId]="jobId"
                [status]="status"
                [tasks]="tasks$ | async | tasksByStatus:status.id"
                *ngFor="let status of statuses$ | async">
            </div>
        </div>

        <div task-form [id]="selectedTaskId" (close)="selectedTaskId = null" *ngIf="selectedTaskId != null"></div>
    
    </div>
    
    <div class="container inner-content" *ngIf="selectedTab.title != 'Tasks'">
        <div *ngIf="selectedTab.title == 'Dashboard'">
            <div class="row">
                <div class="col-lg-3 col-sm-6" *ngFor="let status of statuses$ | async | showStatusOnDashboard">
                    <div class="panel">
                        <div class="row align-items-center">
                            <div *ngIf="status.icon" class="col-3">
                                <span [ngClass]="status.icon" [style.color]="status.colour" class="h2 circle-border"></span>
                            </div>
                            <div class="col">
                                <p class="statistic mb-0">{{ (tasks$ | async | taskHasStatus:status.id).length }}</p>
                                <p class="muted mb-0"><strong>
                                    {{ status.title }} {{ (tasks$ | async | taskHasStatus:status.id).length | i18nPlural: taskPluralMapping }}
                                </strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="panel">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <span class="h2 icon-attention-alt c-red circle-border"></span>
                            </div>
                            <div class="col">
                                <p class="statistic mb-0">{{ (tasks$ | async | taskIsOverdue).length }}</p>
                                <p class="muted mb-0"><strong>Overdue tasks</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <div class="panel">
                        <p class="strong">Details</p>
                        <p class="strong margin-zero">Time Spent (hrs)</p>
                        <p [class.c-red]="timings.is_over_allocated_hours" *ngIf="timings$ | async as timings">{{ timings.time_spent_hours }} of {{ timings.allocated_hours }}</p>
                        <p class="strong margin-zero">Estimated (hrs)</p>
                        <p>{{ job | get:'estimated_hours' }}</p>
                        <p class="strong margin-zero">Type</p>
                        <p>{{ job | get:'_type.title' }}</p>
                        <p class="strong margin-zero">Status</p>
                        <p>{{ job | get:'_status.title' }}</p>
                        <p class="strong margin-zero">Created at</p>
                        <p>{{ job | get:'created_at' | date:'yyyy-MM-dd' }}</p>
                        <p class="strong margin-zero">Billed To</p>
                        <p>{{ job | get:'billed_to' }}</p>
                        <p class="strong margin-zero">Slack Channel ID</p>
                        <p>{{ job | get:'slack_channel_id' }}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="panel">
                                <p class="strong">Description</p>
                                <p class="ws-pre-wrap">{{ job | get:'description' }}</p>
                            </div>
                        </div>
                        <div class="col-lg-4" *ngIf="relationships$ | async as relationships">
                            <div class="panel">
                                <p class="strong m-0">Relationships</p>
                                <div *ngIf="relationships.length > 0; else emptyRelationships">
                                    <div *ngFor="let relationship of relationships" class="d-flex align-items-center mt-2">
                                        <span avatar [id]="relationship | get:'_user.id'" class="avatar mr-1"></span>
                                        <p class="margin-zero">
                                            <strong>{{ relationship | get:'_user.full_name' }}</strong>
                                            <span class="muted d-block">{{ relationship | get:'_relationship.title' }}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8" *ngIf="notes$ | async as notes">
                            <div class="panel">
                                <p class="strong m-0">Recent Notes</p>
                                <ng-container *ngFor="let note of notes | slice:0:2">
                                    <div class="row mt-2" *ngIf="getOrCreateEditNoteForm(note) as form">
                                        <div class="col-1">
                                            <div avatar [id]="note.user" class="avatar"></div>
                                        </div>
                                        <div class="col">
                                            <span class="d-block"><strong>{{ note._user.full_name }}</strong></span>
                                            <span class="muted d-block">{{ note.updated_at | date:'MMM d, y, h:mm a' }}</span>
                                            <div class="ws-pre-wrap mt-1">{{ note.note }}</div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel" *ngIf="selectedTab.title == 'Files'">
            <dropzone [config]="dropzoneConfig" [message]="'Click or drag files here to upload'" (sending)="onFileSending($event)" (success)="onFileSuccess($event)"></dropzone>
            <table class="table-hover">
                <thead>
                    <tr>
                        <th>File</th>
                        <th class="keep-min-width">Size</th>
                        <th class="keep-min-width"></th>
                        <th class="keep-min-width"></th>
                    </tr>
                </thead>
                <ng-container *ngIf="files$ | async as files">
                <tbody *ngIf="files.length > 0; else emptyFiles">
                    <tr *ngFor="let file of files">
                        <td>{{ file.name }}</td>
                        <td class="keep-min-width">{{ file.size_mb }}</td>
                        <td class="keep-min-width"><a class="pointer" (click)="downloadFile(file)"><i class="icon-download"></i></a></td>
                        <td class="keep-min-width"><a class="pointer" (click)="deleteFile(file)"><i class="icon-trash"></i></a></td>
                    </tr>
                </tbody>
                </ng-container>
            </table>
        </div>
        
        <div class="panel" *ngIf="selectedTab.title == 'Notes'">
            <div class="row mb-1h">
                <div class="col-1"></div>
                <div class="col">
                    <textarea autoResize placeholder="Write some notes" [formControl]="newNoteForm.controls.note"></textarea>
                    <button class="button button-primary pull-right" (click)="newNoteForm.save($event)">Add</button>
                </div>
            </div>
            <ng-container *ngFor="let note of notes$ | async">
                <div class="row mb-1h" *ngIf="getOrCreateEditNoteForm(note) as form">
                    <div class="col-1"><div avatar [id]="note.user" class="avatar"></div></div>
                    <div class="col">
                        <div class="comment ws-pre-wrap" *ngIf="!form.editable">{{ note.note }}</div>
                        <textarea autoResize [formControl]="form.controls.note" *ngIf="form.editable"></textarea>
                        <span class="muted mr-1">{{ note.updated_at | date:'MMM d, y, h:mm a' }}</span>
                        <ng-container *ngIf="!form.editable">
                            <a class="button button-clear" (click)="form.editable = true">Edit</a> |
                            <a class="button button-clear" *ngIf="!form.editable" (click)="form.delete($event)">Delete</a>
                        </ng-container>
                        <ng-container *ngIf="form.editable">
                            <a class="button button-secondary" (click)="form.save($event)">Save</a>
                            <a class="button button-clear" (click)="form.cancel($event)">Cancel</a>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </div>

        <div class="panel" *ngIf="selectedTab.title == 'Relationships'">
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6">
                    <a class="button button-white pull-right" [routerLink]="['/clients', job.client, 'jobs', job.id, 'relationships', 'add']">Add Relationship</a>
                </div>
            </div>
            <table class="table-hover">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Relationship</th>
                        <th></th>
                    </tr>
                </thead>
                <ng-container *ngIf="relationships$ | async as relationships">
                <tbody *ngIf="relationships.length > 0; else emptyRelationships">
                    <tr class="pointer" [routerLink]="['/clients', job.client, 'jobs', job.id, 'relationships', relationship.id]" *ngFor="let relationship of relationships">
                        <td>{{ relationship | get:'_user.full_name' }}</td>
                        <td>{{ relationship | get:'_relationship.title' }}</td>
                        <td class="keep-min-width"><a class="pointer" (click)="deleteRelationship($event, relationship)"><i class="icon-trash"></i></a></td>
                    </tr>
                </tbody>
                </ng-container>
            </table>
        </div>

        <div class="panel" *ngIf="selectedTab.title == 'Recurring Costs'">
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6">
                    <a class="button button-white pull-right" [routerLink]="['/clients', job.client, 'jobs', job.id, 'recurring-costs', 'add']">Add Recurring Cost</a>
                </div>
            </div>
            <table class="table-hover">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Last Invoiced Date</th>
                        <th>Billing Interval</th>
                        <th>Billing Frequency</th>
                        <th>Payment Option</th>
                        <th></th>
                    </tr>
                </thead>
                <ng-container *ngIf="recurringCosts$ | async as recurringCosts">
                <tbody *ngIf="recurringCosts.length > 0; else emptyRecurringCosts">
                    <tr class="pointer" [routerLink]="['/clients', job.client, 'jobs', job.id, 'recurring-costs', recurringCost.id]" *ngFor="let recurringCost of recurringCosts">
                        <td>{{ recurringCost | get:'_type.title' }}</td>
                        <td>{{ recurringCost | get:'last_invoiced_date' }}</td>
                        <td>{{ recurringCost | get:'billing_interval' }}</td>
                        <td>{{ recurringCost | get:'_billing_frequency.title' }}</td>
                        <td>{{ recurringCost | get:'_payment_option.title' }}</td>
                        <td class="keep-min-width"><a class="pointer" (click)="deleteRecurringCost($event, recurringCost)"><i class="icon-trash"></i></a></td>
                    </tr>
                </tbody>
                </ng-container>
            </table>
        </div>

    </div>
</div>    

<ng-template #emptyFiles><tbody><tr><td colspan="4">No files found.</td></tr></tbody></ng-template>
<ng-template #emptyRelationships><tbody><tr><td colspan="3">No relationships found.</td></tr></tbody></ng-template>
<ng-template #emptyRecurringCosts><tbody><tr><td colspan="6">No recurring costs found.</td></tr></tbody></ng-template>