<div class="modal {{ id ? 'in': '' }}" *ngIf="task$ | async as task" (click)="closeEvent($event)">
    <div class="modal-panel" #modalPanel>
        <div class="container">
            <div class="row mb-2">
                <div class="col">
                    <div (click)="titleForm.editable = true">
                        <input type="text" [formControl]="titleForm.controls.title" class="mb-0-5">
                        <button class="input-group-addon button" *ngIf="titleForm.editable" (click)="titleForm.save($event)">Save</button>
                        <button class="button button-clear" *ngIf="titleForm.editable" (click)="titleForm.cancel($event)">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="mb-2">
                        <p class="mb-0-5"><strong>Description</strong></p>
                        <div (click)="descriptionForm.editable = true">
                            <textarea autoResize [formControl]="descriptionForm.controls.description" class="transparent mb-0-5" rows="2"></textarea>
                            <button class="button" *ngIf="descriptionForm.editable" (click)="descriptionForm.save($event)">Save</button>
                            <button class="button button-clear" *ngIf="descriptionForm.editable" (click)="descriptionForm.cancel($event)">Cancel</button>
                        </div>
                    </div>

                    <div class="mb-2">
                        <p class="mb-0-5"><strong>Notes</strong></p>
                        <textarea autoResize [formControl]="newNoteForm.controls.note" class="full-width mb-0-5" placeholder="Write a note..." rows="2"></textarea>
                        <button class="button button-secondary" (click)="newNoteForm.save($event)">Add</button>
                    </div>
                    
                    <ng-container *ngFor="let note of taskNotes$ | async">
                        <div class="my-1" *ngIf="getOrCreateEditNoteForm(note) as form">
                            <div class="d-flex align-items-center mb-1">
                                <div avatar [id]="note.user" class="avatar mr-1"></div>
                                <div>{{ note.updated_at | date:'MMM d, y, h:mm a' }}</div>
                            </div>
                            <div (click)="form.editable = true">
                                <textarea autoResize [formControl]="form.controls.note" class="panel" rows="1"></textarea>
                            </div>
                            <div class="small muted">
                                <ng-container *ngIf="!form.editable">
                                    <button class="button button-clear" (click)="$event.stopPropagation(); form.editable = true">Edit</button> |
                                    <button class="button button-clear" *ngIf="!form.editable" (click)="form.delete($event)">Delete</button>
                                </ng-container>
                                <ng-container *ngIf="form.editable">
                                    <button class="button button-secondary" (click)="form.save($event)">Save</button>
                                    <button class="button button-clear" (click)="form.cancel($event)">Cancel</button>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                    
                    <div class="mb-2">
                        <p class="mb-0-5"><strong>Files</strong></p>
                        <dropzone [config]="dropzoneConfig" [message]="'Click or drag files here to upload'" (sending)="onFileSending($event)" (success)="onFileSuccess($event)"></dropzone>
                        <table>
                            <ng-container *ngIf="taskFiles$ | async as files">
                            <tbody *ngIf="files.length > 0; else emptyFiles">
                                <tr *ngFor="let file of files">
                                    <td><a href="{{ file.file }}" target="_blank">{{ file.file }}</a></td>
                                    <td class="keep-min-width"><a class="pointer" (click)="deleteFile(file)"><i class="icon-trash"></i></a></td>
                                </tr>
                            </tbody>
                            <ng-template #emptyFiles><tbody><tr><td colspan="2">No files found.</td></tr></tbody></ng-template>
                            </ng-container>
                        </table>
                    </div>
                </div>
                <div class="col-4">
                    <p class="mb-0-5"><strong>Job</strong></p>
                    <p>{{ task$ | async | get:'_job._client.name' }}<br>{{ task$ | async | get:'_job.title' }}</p>
                    <hr>
                    
                    <p class="mb-0-5"><strong>Assignees</strong></p>
                    <div *ngFor="let assignee of taskAssignees$ | async" class="d-inline-block text-center mr-0-5">
                        <div avatar [id]="assignee.user" class="avatar pointer d-block" (click)="editAssignee(assignee)"></div>
                        <small>{{ assignee.allocated_hours }}</small>
                    </div>
                    <div class="d-inline-block text-center mr-0-5">
                        <div class="avatar new pointer d-block" (click)="editAssignee({task: task.id})">
                            <div class="avatar-text"><i class="icon-plus"></i></div>
                        </div>
                        <small>&nbsp;</small>
                    </div>
                    <div *ngIf="assigneeEditForm && assigneeEditForm.editable" class="mt-1">
                        <div class="input-group mb-0-5">
                            <select [formControl]="assigneeEditForm.controls.user" class="mr-1 flex-fill">
                                <option [ngValue]="null">Select...</option>
                                <ng-container *ngFor="let option of users$ | async">
                                    <option [ngValue]="option.id">{{ option.full_name }}</option>
                                </ng-container>
                            </select>
                            <input type="number" [formControl]="assigneeEditForm.controls.allocated_hours" style="flex: 0 0 7rem;">
                        </div>
                        <div class="d-flex">
                            <button class="button button-secondary" (click)="assigneeEditForm.save($event)">Save</button>
                            <button class="button button-clear" (click)="assigneeEditForm.cancel($event)">Cancel</button>
                            <button class="button button-clear ml-auto" *ngIf="assigneeEditForm.value.id" (click)="assigneeEditForm.delete($event)">Delete</button>
                        </div>
                    </div>
                    <hr>

                    <p class="mb-0-5"><strong>Time Spent (hrs)</strong></p>
                    <p [class.c-red]="taskTiming.is_over_allocated_hours" *ngIf="taskTiming$ | async as taskTiming">{{ taskTiming.time_spent_hours }} of {{ taskTiming.allocated_hours }}</p>
                    <hr>
                    
                    <p class="mb-0-5"><strong>Target Date</strong></p>
                    <div (click)="targetDateForm.editable = true">
                        <div class="input-group">
                            <input [matDatepicker]="picker" type="text" [formControl]="targetDateForm.controls.target_date">
                            <a class="input-group-addon pointer" (click)="picker.open()"><i class="icon-calendar"></i></a>
                            <mat-datepicker #picker></mat-datepicker>
                        </div>
                        <button class="button" *ngIf="targetDateForm.editable" (click)="targetDateForm.save($event)">Save</button>
                        <button class="button button-clear" *ngIf="targetDateForm.editable" (click)="targetDateForm.cancel($event)">Cancel</button>
                    </div>
                    <hr>

                    <p class="mb-0-5"><strong>Tags</strong></p>
                    <ul class="tags">
                        <li tag [id]="tag.tag" *ngFor="let tag of taskTags$ | async" class="tag pointer mb-0-5" (click)="editTag(tag)"></li>
                        <li class="tag outline pointer mb-0-5" (click)="editTag({object_id: id})"><i class="icon-plus"></i></li>
                    </ul>
                    <div *ngIf="tagEditForm && tagEditForm.editable" class="mt-1">
                        <p class="mb-0-5">Choose a new tag</p>
                        <ul class="tags mb-1">
                            <li tag [id]="tag.id" *ngFor="let tag of tags$ | async" class="tag outline pointer mb-0-5" [class.active]="tagEditForm.value.tag == tag.id" (click)="setTag($event, tag)"></li>
                        </ul>
                        <div class="input-group">
                            <input #newTag type="text" placeholder="Create a tag...">
                            <button class="button input-group-addon" (click)="addNewTagOption(newTag.value)">Add</button>
                        </div>
                        <ng-container *ngIf="tagEditForm.value.id">
                            <button class="button" (click)="tagEditForm.delete($event)">Delete</button>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
