<div [class.flex-fill-container]="selectedStyle == 'Board'">
    <div class="page-header py-2">
        <div class="container-fluid d-flex align-items-center">
            <div class="h2">Tasks</div>
            <p class="c-white mb-0 ml-2 mt-0.5">
                <span class="pointer" [ngClass]="{'underline-dotted': selectedStyle != 'Board'}" (click)="switchStyle('Board')">Board</span> / 
                <span class="pointer" [ngClass]="{'underline-dotted': selectedStyle != 'List'}" (click)="switchStyle('List')">List</span>
            </p>
            <div class="page-header-actions">
                <select [(ngModel)]="selectedUserId" (ngModelChange)="refetchTasks()" class="mb-0">
                    <option *ngFor="let user of users$ | async" [ngValue]="user.id">{{ user.full_name }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="container-fluid ov-hidden full-height" *ngIf="selectedStyle == 'Board'">
        <div class="board-column-wrapper" autoScroll [scrollMargin]="100" [scrollMaxSpeed]="40">
            <div class="board-column"
            job-board-column
            [jobId]="jobId"
            [status]="status"
            [tasks]="tasks$ | async | tasksByStatus:status.id"
            [show_job_details]="true"
            [readonly]="true"
            *ngFor="let status of taskStatuses$ | async"></div>
        </div>
        <div task-form [id]="selectedTaskId" (close)="selectedTaskId = null" *ngIf="selectedTaskId != null"></div>
    </div>

    <div class="container-fluid inner-content" *ngIf="selectedStyle == 'List'">
        <div class="panel">
            <div class="row align-items-center">
                <div class="col-4">
                    <search [(ngModel)]="searchTerms" (ngModelChange)="setSearch()"></search>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="checkbox" *ngFor="let status of taskStatuses$ | async">
                            <label>
                                {{ status.title }} ({{ (tasks$ | async | taskHasStatus:status.id).length }})
                                <input type="checkbox" (click)="toggleStatus(status.id)" [checked]="(filters$ | async).taskboard_statuses.indexOf(status.id) != -1">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table-hover table-headed margin-zero">
                <thead>
                    <tr>
                        <th class="pointer" (click)="orderTasksBy('job')">
                            Job No. <i *ngIf="orderBy == 'job'" [class.icon-up-dir]="orderType == 'asc'" [class.icon-down-dir]="orderType == 'desc'"></i>
                        </th>
                        <th class="pointer" (click)="orderTasksBy('_job._client.name')">
                            Client <i *ngIf="orderBy == '_job._client.name'" [class.icon-up-dir]="orderType == 'asc'" [class.icon-down-dir]="orderType == 'desc'"></i>
                        </th>
                        <th class="pointer" (click)="orderTasksBy('_job.title')">
                            Job <i *ngIf="orderBy == '_job.title'" [class.icon-up-dir]="orderType == 'asc'" [class.icon-down-dir]="orderType == 'desc'"></i>
                        </th>
                        <th class="pointer" (click)="orderTasksBy('title')">
                            Title <i *ngIf="orderBy == 'title'" [class.icon-up-dir]="orderType == 'asc'" [class.icon-down-dir]="orderType == 'desc'"></i>
                        </th>
                        <th class="keep-min-width pointer" (click)="orderTasksBy('_status.order')">
                            Status <i *ngIf="orderBy == '_status.order'" [class.icon-up-dir]="orderType == 'asc'" [class.icon-down-dir]="orderType == 'desc'"></i>
                        </th>
                        <th class="keep-min-width pointer" (click)="orderTasksBy('target_date')">
                            Target Date <i *ngIf="orderBy == 'target_date'" [class.icon-up-dir]="orderType == 'asc'" [class.icon-down-dir]="orderType == 'desc'"></i>
                        </th>
                        <th class="keep-min-width">Assignees</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="pointer" [routerLink]="['/clients', task._job.client, 'jobs', task.job]" [queryParams]="{task: task.id}" *ngFor="let task of tasks$ | async | tasksFilterStatus : filteredStatuses">
                        <td class="keep-min-width">{{ task | get:'job' }}</td>
                        <td><span class="underline-dotted" [routerLink]="['/clients', task._job.client]">{{ task | get:'_job._client.name' }}</span></td>
                        <td><span class="underline-dotted" [routerLink]="['/clients', task._job.client, 'jobs', task.job]">{{ task | get:'_job.title' }}</span></td>
                        <td>{{ task | get:'title' }}</td>
                        <td class="keep-min-width">{{ task | get:'_status.title' }}</td>
                        <td class="keep-min-width">{{ task | get:'target_date' }}</td>
                        <td class="keep-min-width">
                            <div avatar [id]="assignee.user" class="avatar avatar-small mr-h" *ngFor="let assignee of task._assignees"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>