<div class="modal {{ opened ? 'in': '' }}" (click)="closeEvent($event)">
    <div class="modal-panel" #modalPanel>
        <div class="container">
            <div class="row mb-2">
                <div class="col">
                    <input type="text" [formControl]="form.controls.title" class="mb-0-5" placeholder="Title">
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="mb-2">
                        <p class="mb-0-5"><strong>Description</strong></p>
                        <textarea autoResize [formControl]="form.controls.description" class="mb-0-5" rows="2"></textarea>
                    </div>
                    <button class="button" (click)="form.save($event)">Save</button>
                </div>
                <div class="col-4">
                    <p class="mb-0-5"><strong>Job</strong></p>
                    <p>{{ job$ | async | get:'_client.name' }}<br>{{ job$ | async | get:'title' }}</p>
                    <hr>

                    <p class="mb-0-5"><strong>Target Date</strong></p>
                    <input mwlFlatpickr [formControl]="form.controls.target_date" type="text">
                </div>
            </div>
        </div>
    </div>
</div>
