<div class="board-card d-flex flex-column pointer" *ngIf="task$ | async as task">
    <ng-container *ngIf="show_job_details">
        <p class="small muted d-flex align-items-center mb-1">
            <span class="color-indicator" [style.backgroundColor]="task._job.colour"></span>
            {{ task | get:'_job._client.name' }} / {{ task | get:'_job.title' }}
        </p>
    </ng-container>

    <p class="board-card-desc">
        <span class="small strong uppercase b-whitelilac px-h" *ngIf="task.closed">closed</span>
        {{ task.title }}
    </p>
    <div class="d-flex">
        <div class="mr-auto">
            <span class="uppercase small mr-1" [class.c-red]="task.is_overdue" *ngIf="task.target_date">
                <i class="icon-bell"></i> {{ task.target_date | date:'d MMM' }}
            </span>
            <span class="uppercase small" [class.c-red]="timing.is_over_allocated_hours" *ngIf="timing$ | async as timing">
                <i class="icon-clock"></i> {{ timing.time_spent_hours }}/{{ timing.allocated_hours }}
            </span>
        </div>
        <div>
            <div avatar [id]="assignee.user" class="avatar avatar-small" *ngFor="let assignee of assignees$ | async"></div>
        </div>
    </div>
    <div class="d-flex mt-h" *ngIf="(taskTags$ | async)?.length > 0">
        <ul class="tags">
            <li tag [id]="tag.tag" *ngFor="let tag of taskTags$ | async" class="tag mt-h small"></li>
        </ul>
    </div>
</div>
