<div class="modal {{ id ? 'in': '' }}" *ngIf="task$ | async as task" (click)="closeEvent($event)">
    <div class="modal-panel" #modalPanel>
        <div class="container b-secondary px-2 py-2">
            <div class="row">
                <div class="col-12">
                    <textarea autoResize rows="1" class="toggleable"
                        [formControl]="titleForm.controls.title"
                        (blur)="titleForm.dirty ? titleForm.save($event) : false"
                        (keydown.enter)="false">
                    </textarea>
                </div>
                <div class="col-9">
                    <p class="small muted">{{ task | get:'_job._client.name' }} / {{ task | get:'_job.title' }}</p>
                </div>
                <div class="col-3">
                    <select class="toggleable" [formControl]="statusForm.controls.status" (blur)="statusForm.save($event)">
                        <option [ngValue]="option.id" *ngFor="let option of taskStatuses$ | async">{{ option.title }}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="container b-secondary px-2">
            <ul class="tabs tabs-light">
                <li [class.active]="activeTab == 'detail'" (click)="activeTab = 'detail'">Detail</li>
                <li [class.active]="activeTab == 'notes'" (click)="activeTab = 'notes'">Notes ({{ (taskNotes$ | async).length }})</li>
                <li [class.active]="activeTab == 'files'" (click)="activeTab = 'files'">Files ({{ (taskFiles$ | async).length }})</li>
                <li [class.active]="activeTab == 'delete'" (click)="activeTab = 'delete'" *ngIf="canDelete">Delete</li>
            </ul>
        </div>

        <div class="container px-2 py-2" *ngIf="activeTab == 'detail'">
            <div class="row mb-1h">
                <div class="col">
                    <ng-container *ngIf="task._user.full_name as name">
                        <p class="mb-h"><strong>Created by</strong></p>
                        <p>{{ name }}</p>
                    </ng-container>

                    <p class="mb-h"><strong>Assignees</strong></p>
                    <div *ngFor="let assignee of taskAssignees$ | async" class="d-inline-block text-center mr-h">
                        <div avatar [id]="assignee.user" class="avatar pointer d-block" (click)="editAssignee(assignee)"></div>
                        <small>{{ assignee.allocated_hours }}</small>
                    </div>
                    <div class="d-inline-block text-center mr-h">
                        <div class="avatar new pointer d-block" (click)="editAssignee({task: task.id})">
                            <div class="avatar-text"><i class="icon-plus"></i></div>
                        </div>
                        <small>&nbsp;</small>
                    </div>
                    <div class="relative">
                        <div class="panel panel-popup mt-1 mt-1" *ngIf="assigneeEditForm && assigneeEditForm.editable">
                            <div class="input-group">
                                <select [formControl]="assigneeEditForm.controls.user" class="mr-1 flex-fill">
                                    <option [ngValue]="null">Select...</option>
                                    <ng-container *ngFor="let option of users$ | async">
                                        <option [ngValue]="option.id">{{ option.full_name }}</option>
                                    </ng-container>
                                </select>
                                <input type="number" [formControl]="assigneeEditForm.controls.allocated_hours">
                            </div>
                            <div class="d-flex">
                                <button class="button button-secondary" (click)="assigneeEditForm.save($event)">Save</button>
                                <button class="button button-clear" (click)="assigneeEditForm.cancel($event)">Cancel</button>
                                <button class="button button-clear ml-auto" *ngIf="assigneeEditForm.value.id" (click)="assigneeEditForm.delete($event)">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <p class="mb-h"><strong>Tags</strong></p>
                    <ul class="tags">
                        <li tag [id]="tag.tag" *ngFor="let tag of taskTags$ | async" class="tag pointer mb-h" (click)="editTag(tag)"></li>
                        <li class="tag outline pointer mb-h" (click)="editTag({object_id: id})"><i class="icon-plus"></i></li>
                    </ul>
                    <div class="relative">
                        <div class="panel panel-popup mt-1" *ngIf="tagEditForm && tagEditForm.editable">
                            <select [formControl]="tagEditForm.controls.tag">
                                <option [ngValue]="null">Select...</option>
                                <ng-container *ngFor="let option of tags$ | async">
                                    <option [ngValue]="option.id">{{ option.name }}</option>
                                </ng-container>
                            </select>
                            <div class="input-group">
                                <input #newTag type="text" placeholder="Create a new tag...">
                                <button class="button input-group-addon" (click)="tagEditForm.addNew(newTag.value)">Add</button>
                            </div>
                            <div class="d-flex">
                                <button class="button button-secondary" (click)="tagEditForm.save($event)">Save</button>
                                <button class="button button-clear" (click)="tagEditForm.cancel($event)">Cancel</button>
                                <button class="button button-clear ml-auto" *ngIf="tagEditForm.value.id" (click)="tagEditForm.delete($event)">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-1h">
                <div class="col">
                    <p class="mb-h"><strong>Target Date</strong></p>
                    <div class="icon-input">
                        <input type="text" class="toggleable"
                            [matDatepicker]="picker"
                            [formControl]="targetDateForm.controls.target_date"
                            (click)="picker.open()">
                        <span class="icon-calendar"></span>
                    </div>
                    <mat-datepicker #picker></mat-datepicker>
                    <button class="button" *ngIf="targetDateForm.dirty" (click)="targetDateForm.save($event)">Save</button>
                    <button class="button button-clear" *ngIf="targetDateForm.dirty" (click)="targetDateForm.cancel($event)">Cancel</button>
                </div>
                <div class="col">
                    <p class="mb-1"><strong>Time Spent (hrs)</strong></p>
                    <p [class.c-red]="taskTiming.is_over_allocated_hours" *ngIf="taskTiming$ | async as taskTiming">{{ taskTiming.time_spent_hours }} of {{ taskTiming.allocated_hours }}</p>        
                </div>
            </div>
            <div class="row mb-1h">
                <div class="col">
                    <p class="mb-h"><strong>Description</strong></p>
                    <textarea autoResize class="toggleable" rows="2"
                        [formControl]="descriptionForm.controls.description"
                        (blur)="descriptionForm.dirty ? descriptionForm.save($event) : false"></textarea>
                </div>
            </div>
            <div class="row mb-1h">
                <div class="col-12">
                    <p class="mb-h"><strong>Not Chargeable</strong></p>
                </div>
                <div class="col">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" [formControl]="notChargeableForm.controls.not_chargeable">
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="text-right" *ngIf="notChargeableForm.dirty">
                        <button class="button" (click)="notChargeableForm.save($event)">Save</button>
                        <button class="button button-clear" (click)="notChargeableForm.cancel($event)">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="row mb-1h">
                <div class="col-12">
                    <p class="mb-h"><strong>Closed</strong></p>
                </div>
                <div class="col">
                    <p>Closing the task means its no longer available to add time.</p>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" [formControl]="closedForm.controls.closed">
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="text-right" *ngIf="closedForm.dirty">
                        <button class="button" (click)="closedForm.save($event)">Save</button>
                        <button class="button button-clear" (click)="closedForm.cancel($event)">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container px-2 py-2" *ngIf="activeTab == 'notes'">
            <div class="row">
                <div class="col">
                    <div class="mb-2">
                        <p class="mb-h"><strong>Notes</strong></p>
                        <textarea autoResize placeholder="Write a note..." rows="2"
                            [formControl]="newNoteForm.controls.note"></textarea>
                        <button class="button button-secondary" (click)="newNoteForm.save($event)">Add</button>
                    </div>
                    
                    <ng-container *ngFor="let note of taskNotes$ | async">
                        <div class="mb-2" *ngIf="getOrCreateEditNoteForm(note) as form">
                            <div class="d-flex align-items-center mb-1">
                                <div avatar [id]="note.user" class="avatar mr-1"></div>
                                <div>{{ note.updated_at | date:'MMM d, y, h:mm a' }}</div>
                            </div>
                            <textarea autoResize class="toggleable" rows="1" [formControl]="form.controls.note"></textarea>
                            <div *ngIf="form.dirty">
                                <button class="button button-secondary" (click)="form.save($event)">Save</button>
                                <button class="button button-clear" (click)="form.cancel($event)">Cancel</button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="container px-2 py-2" *ngIf="activeTab == 'files'">
            <div class="row mb-1h">
                <div class="col">
                    <p class="mb-h"><strong>Files</strong></p>
                    <dropzone [config]="dropzoneConfig" [message]="'Click or drag files here to upload'" (sending)="onFileSending($event)" (success)="onFileSuccess($event)"></dropzone>
                    <table class="table-hover">
                        <ng-container *ngIf="taskFiles$ | async as files">
                        <tbody *ngIf="files.length > 0; else emptyFiles">
                            <tr *ngFor="let file of files">
                                <td>{{ file.name }}</td>
                                <td class="keep-min-width">{{ file.size_mb }}</td>
                                <td class="keep-min-width"><a class="pointer" (click)="downloadFile(file)"><i class="icon-download"></i></a></td>
                                <td class="keep-min-width"><a class="pointer" (click)="deleteFile(file)"><i class="icon-trash"></i></a></td>
                            </tr>
                        </tbody>
                        <ng-template #emptyFiles><tbody><tr><td colspan="4">No files found.</td></tr></tbody></ng-template>
                        </ng-container>
                    </table>
                </div>
            </div>
        </div>

        <div class="container px-2 py-2" *ngIf="activeTab == 'delete'">
            <div class="row mb-1h">
                <div class="col">
                    <p class="mb-h">Delete this task?</p>
                    <a (click)="delete(task)" class="button button-primary">Delete</a>
                </div>
            </div>
        </div>

    </div>
</div>
