<div class="page-header py-2">
    <div class="container-fluid d-flex align-items-center">
        <div class="h2">Taskboard</div>
        <div class="page-header-actions"></div>
    </div>
</div>
<div class="container-fluid inner-content">
    <div class="panel">
        <div class="row">
            <div class="col-6"><search [(ngModel)]="searchTerms"></search></div>
            <div class="col-6"></div>
        </div>
        <table class="table-hover table-headed margin-zero">
            <thead>
                <tr>
                    <th class="keep-min-width pointer" (click)="orderTasksBy('id')">
                        ID <i *ngIf="orderBy == 'id'" [class.icon-up-dir]="orderType == 'asc'" [class.icon-down-dir]="orderType == 'desc'"></i>
                    </th>
                    <th class="keep-min-width pointer" (click)="orderTasksBy('target_date')">
                        Target Date <i *ngIf="orderBy == 'target_date'" [class.icon-up-dir]="orderType == 'asc'" [class.icon-down-dir]="orderType == 'desc'"></i>
                    </th>
                    <th class="pointer" (click)="orderTasksBy('title')">
                        Title <i *ngIf="orderBy == 'title'" [class.icon-up-dir]="orderType == 'asc'" [class.icon-down-dir]="orderType == 'desc'"></i>
                    </th>
                    <th class="pointer" (click)="orderTasksBy('_job._client.name')">
                        Client <i *ngIf="orderBy == '_job._client.name'" [class.icon-up-dir]="orderType == 'asc'" [class.icon-down-dir]="orderType == 'desc'"></i>
                    </th>
                    <th class="pointer" (click)="orderTasksBy('_job.title')">
                        Job <i *ngIf="orderBy == '_job.title'" [class.icon-up-dir]="orderType == 'asc'" [class.icon-down-dir]="orderType == 'desc'"></i>
                    </th>
                    <th class="keep-min-width">Assignees</th>
                    <th class="keep-min-width pointer" (click)="orderTasksBy('id')">
                        status <i *ngIf="orderBy == 'id'" [class.icon-up-dir]="orderType == 'asc'" [class.icon-down-dir]="orderType == 'desc'"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="pointer" [routerLink]="['/clients', task._job.client, 'jobs', task.job]" [queryParams]="{task: task.id}" *ngFor="let task of tasks$ | async | taskSearch:searchTerms | orderBy : [orderBy] : [orderType]">
                    <td class="keep-min-width">{{ task | get:'id' }}</td>
                    <td class="keep-min-width">{{ task | get:'target_date' }}</td>
                    <td>{{ task | get:'title' }}</td>
                    <td>{{ task | get:'_job._client.name' }}</td>
                    <td>{{ task | get:'_job.title' }}</td>
                    <td class="keep-min-width">
                        <div avatar [id]="assignee.user" class="avatar avatar-small" *ngFor="let assignee of task._assignees"></div>
                    </td>
                    <td class="keep-min-width">{{ task | get:'_status.title' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
