<div class="page-header py-2">
    <div class="container-fluid d-flex align-items-center">
        <div class="h2">Timesheet</div>
        <div class="page-header-actions">
            <select [(ngModel)]="selectedUserId" (ngModelChange)="refetchEvents(); refetchTasks();" class="mb-0">
                <option *ngFor="let user of users$ | async" [ngValue]="user.id">{{ user.full_name }}</option>
            </select>
        </div>
    </div>
</div>
<div class="container-fluid inner-content d-flex flex-fill flex-flow-column">
    <div class="row flex-fill">
        <div class="col-3 d-flex flex-column flex-fill">
            <search [(ngModel)]="searchTerms" (ngModelChange)="refetchTasks()"></search>
            <div class="client-list-wrapper" id="external-events">
                <ul class="client-list">
                    <li *ngFor="let client of tasks$ | async | keyvalue">
                        <a class="client" (click)="client.value.visible = !client.value.visible">{{ client.key }}</a>
                        <ul *ngIf="client.value.visible">
                            <li *ngFor="let job of client.value.jobs | keyvalue">
                                <a class="job" (click)="job.value.visible = !job.value.visible">{{ job.key }}</a>
                                <ul *ngIf="job.value.visible">
                                    <li class="task d-flex" (click)="changeTask(task.id)" *ngFor="let task of job.value.tasks">
                                        <div class="color-indicator" [style.background-color]="task._job.colour"></div>
                                        <span class="external-event" [attr.data-task]="task.id">{{ task.title }}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-9 relative">
            <div calendar
                class="timesheet"
                [options]="options"
                [slotDuration]="formattedSlotDuration"
                [events]="events$ | async"
                (onViewSkeletonRender)="onViewSkeletonRender($event)"
                (onDatesRender)="onDatesRender($event)"
                (onEventRender)="onEventRender($event)"
                (onDrop)="onDrop($event)"
                (onEventDrop)="onEventDrop($event)"
                (onEventResize)="onEventResize($event)"
                (onEventClick)="onEventClick($event)"
                (onWindowResize)="onWindowResize($event)"
                externalEventsWrapperId="external-events"
                externalEventItemClass=".external-event">
            </div>
            <div time-entry-form
                [id]="selectedEventId"
                [newTaskId]="selectedTaskId"
                class="timesheet-event-overlay"
                [class.in]="selectedEventId"
                (close)="selectedEventId = null; selectedTaskId = null"
                *ngIf="selectedEventId">
            </div>
        </div>
    </div>    
    <div class="row" style="flex: 0 0 50px;">    
        <div class="col-3 pt-1-5">
            <div class="input-group margin-zero">
                <div class="input-group-addon">Slot</div>
                <input type="range" min="1" max="30" [(ngModel)]="slotDuration" (ngModelChange)="onChangeSlotDuration($event)" name="slotDuration">
                <div class="input-group-addon">{{ slotDuration }} mins</div>
            </div>
        </div>
        <div class="col-9">
            <table class="mb-0">
                <thead>
                    <tr>
                        <th [style.width.px]="viewAxisWidth" [style.max-width.px]="viewAxisWidth"></th>
                        <th class="text-center px-0" *ngFor="let date of viewDates">
                            <time-sheet-signoff [user]="selectedUserId" [date]="date"></time-sheet-signoff>
                        </th>
                    </tr>
                </thead>                    
            </table>
        </div>
    </div>
</div>
