<div class="overlay-header d-flex align-items-top">
    <ng-container *ngIf="form.task$ | async as task">
        <div class="color-indicator" [style.backgroundColor]="task._job.colour"></div>
        <div class="title h4">{{ task.title }}</div>
    </ng-container>
    <a class="close ml-auto" (click)="closeEvent($event)"><i class="icon-cancel"></i></a>
</div>
<div class="overlay-body">
    <p class="muted">To change the task click one from the main list</p>
    <input type="hidden" name="task">
    <div class="row" *ngIf="form.task$ | async as task">
        <div class="col">
            <p class="mb-h"><i class="icon-calendar"></i><strong>Target Date</strong>: {{ task.target_date | date:'dd/MM/yy' }}</p>
            <p *ngIf="timing$ | async as timing">
                <i class="icon-clock"></i><strong>Target Hours</strong>: <span [class.c-red]="timing.is_over_allocated_hours">{{ timing.time_spent_hours }}/{{ timing.allocated_hours }}</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Start Time</label>
            <input [formControl]="form.controls.started_at_time" type="text" placeholder="hh:mm" />
            <p class="c-red" *formError="form.controls.started_at_time">ie 00:00 - 23:59</p>
        </div>
        <div class="col">
            <label>End Time</label>
            <input [formControl]="form.controls.ended_at_time" type="text" placeholder="hh:mm" />
            <p class="c-red" *formError="form.controls.ended_at_time">ie 00:00 - 23:59</p>
        </div>
    </div>
    <label>Comments</label>
    <textarea [formControl]="form.controls.comments" name="comments" rows="3"></textarea>
    <div class="text-right">
        <a class="button button-primary" (click)="form.save($event)">Update</a>
        <a class="delete button button-primary button-clear" (click)="form.delete($event)">Delete <i class="icon-trash"></i></a>
    </div>
</div>