// board
// ------------------------------------------

.board-column {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-width: 355px;
  max-width: 355px;
  padding: 8px;
  margin-right: 2rem;
}

.board-column-heading {
  display: flex;
  flex: 0 0 30px;
  font-size: 14px;
}

.board-column-heading .icon-plus {
  font-size: 14px;
}

.muted-button {
  padding: 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  border: 1px dashed color("lightgrey");

  span {
    color: color("arsenic");
  }

  &:hover span {
    color: color("shadylady");
  }
}

.board-card-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow-y: auto;
}

.board-card {
  padding: 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  background: color("white");
  @include box-shadow(0, 1px, 1px, rgba(0, 0, 0, .12));

  &:hover {
    background-color: color-a("white", .7);
  }

  .color-indicator {
    width: 1.2rem;
    min-width: 1.2rem;
    height: 1.2rem;
    border: 0;
  }
}

.board-card-desc {
  margin-bottom: 1rem;
  font-size: 14px;
  line-height: 1.8rem;
}
