// Cloc
// ------------------------------

.client-list,
.client-list ul {
  margin-left: 0;
  list-style-type: none;
}

.client-list .client {
  display: block;
  padding: 1rem 1rem;
  margin-bottom: .3rem;
  cursor: pointer;
  background: color("shadylady");
  border-bottom: 1px solid $border-color;
}

.client-list .job {
  display: block;
  padding: 1rem 1rem;
  margin-bottom: .3rem;
  cursor: pointer;
  border-bottom: 1px solid $border-color;
}

.client-list .task {
  padding: 1rem 1rem;
  margin-bottom: .3rem;
  cursor: move;
  border-radius: .25rem;
}

.cloc {
  position: relative;
  margin-bottom: $generic-margin-bottom;
}

.cloc table {
  margin-bottom: 0;
}

.cloc .fc-dailycontrol {
  margin: .5rem 1.5rem;

  input {
    display: none;
  }
}

.cloc-event-overlay {
  @include position($right: 25px, $bottom: 25px);
  z-index: 10;
  display: none;
  width: 400px;
  padding: 1.5rem;
  background: color("white");
}

.cloc-event-overlay.in {
  display: block;
}

.cloc-event-overlay .close {
  @include position($right: 15px);
  cursor: pointer;
}


// full calendar

/* stylelint-disable declaration-no-important, selector-pseudo-element-colon-notation */
.fc-view-container *,
.fc-view-container :after,
.fc-view-container :before {
  box-sizing: border-box !important;
}
