// dropzone
// ------------------------------------------

/* stylelint-disable declaration-no-important, selector-no-qualifying-type  */

.dropzone {
  min-height: 120px !important;
  padding: 10px !important;
  border: dashed 1px $border-color !important;

  input[type="file"] {
    display: none;
  }

  .dz-preview {
    margin: 10px !important;
  }

  .dz-message {
    padding: 2rem 0 !important;
    margin: 2.4rem 0 !important;
    font-size: 2rem !important;
    color: color("gray") !important;
  }

  .dz-image {
    background: color("secondary") !important;
    border-radius: $global-radius !important;
  }

  .dz-size {
    font-size: 1.4rem !important;
  }

}
