// Form
//––––––––––––––––––––––––––––––––––––––––––––––––––

/* stylelint-disable declaration-no-important, selector-no-qualifying-type  */

input[type="color"] {
  width: 10rem;
  height: $input-height;
  margin-bottom: $input-margin-bottom;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
}

input[type="time"] {
  @include input;
  @include input-size;
  @include input-width;
  @include input-focus;
  -webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix
}

input[disabled]:not(:hover) {
  background: color-darken("secondary", 3%);
  border-color: transparent;
}

select[disabled]:not(:hover) {
  appearance: textfield;
  background: color-darken("secondary", 3%);
  border-color: transparent;
}

textarea[disabled]:not(:hover) {
  resize: none;
  &.transparent {
    background: color-darken("secondary", 3%);
    border-color: transparent;
  }
}

input[disabled]:hover,
select[disabled]:hover,
textarea[disabled]:hover {
  cursor: pointer;
}

textarea {
  display: block;
}

.input-small {
  height: 3rem !important;
  padding: .5rem 1rem;
  margin-bottom: .5rem;
  font-size: 80%;
}

output {
  min-width: 4rem;
}

.checkbox {
  margin-bottom: $input-margin-bottom;
  input {
    position: relative;
  }
}

.field-wrapper {
  margin-bottom: $input-margin-bottom;
}

.errorlist {
  color: color("red");
  list-style-type: none;
}

.formset-empty {
  display: none;
}

.formset-deleted {
  opacity: .7;
}

// select2 - django auto complete

.select2-container--default {
  margin-bottom: $input-margin-bottom !important;
}

.select2-container--default .select2-selection--multiple {
  background-color: $input-background !important;
  border: solid $input-border-width $input-border-color !important;
  border-radius: $input-border-radius !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  background: $input-background-focus !important;
  border-color: $input-border-color-focus !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  border: solid $input-border-width $input-border-color !important;
  border-radius: $input-border-radius !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
  height: 2.5rem;
  margin: .5rem .5rem 0 .5rem;
}
