// Header
// -----------------------------------------

header {
  background: color("primary");
  margin-bottom: $generic-margin-bottom;
  padding: 1.5rem 0;
}

header .nav {
  list-style-type: none;
  margin: 0;

  li {
    display: inline-block;
  }

  li a {
    color: color("white");
    display: block;
    padding: 1rem 2rem;
  }
}