// Header
// -----------------------------------------
/* stylelint-disable selector-no-qualifying-type  */


header {
  background: color("arsenic");
}

.nav-home {
  display: inline-block;
  margin-right: 2rem;
  color: color("white");
}

.nav {
  display: inline-block;
  margin: 1rem 0 0 0;
  list-style-type: none;

  li {
    display: inline-block;
    background: color("primary");
  }

  li a {
    display: block;
    padding: 1rem 2rem;
    color: color("white");
  }

  li a.active {
    border-top: 2px solid color("wildwillow");
  }
}
