// Header
// -----------------------------------------

header {
  background: color("arsenic");
}

.nav-home {
  display: inline-block;
  margin-right: 6rem;
  color: color("white");
}

.nav {
  display: inline-block;
  margin: 1rem 0 0 0;
  list-style-type: none;

  li {
    display: inline-block;
    background: color("primary");
  }

  li a {
    display: block;
    padding: 1rem 2rem;
    color: color("white");
  }
}


header .avatar {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background: color("dodgerblue");
  border-radius: 50%;

  .avatar-text {
    font-size: 1.2rem;
    font-weight: 700;
    color: color("white");
  }
  .avatar-close {
    display: none;
    color: color("primary");
  }

  &:hover {

    background: color("white");

    .avatar-text {
      display: none;
    }

    .avatar-close {
      display: block;
    }

  }
}
