// links
// -----------------------------------------

.underline-dotted {
  border-bottom: 1px dotted color("primary");

  &:hover {
    border-bottom: 0;
  }
}

.page-header .underline-dotted {
  border-color: color("white");
}

.text-link {
  @extend .underline-dotted;
  @extend .pointer;
}

.text-link.active {
  cursor: default;
  border-bottom: none;
}

@each $name, $color in $colors {

  a.c-#{$name} {
    color: $color;
    &:hover {
      color: darken($color, $darken-hover-percent);
    }
  }
}
