// login
// -----------------------------------------

.login-page {
    background-color: color("arsenic");

    label {
        font-size: 13px;
        font-weight: 700;
        color: color("white");
    }
}

