// modal
// ------------------------------------------

.modal {
  @include position(0,0,0,0);
  z-index: zindex("modal");
  display: none;
  overflow-y: auto;
  background-color: color-a("primary", .87);
}

.modal.in {
  display: block;
}

.modal-panel {
  max-width: 800px;
  margin: auto;
  margin-top: 4rem;
  background-color: color("white");

  .button-secondary {
    @include button-hover(color("primary"), color("white"), color("shadylady"));
  }

  .panel {
    padding: 2rem;
    margin-bottom: .5rem;
  }

  .panel.panel-popup {
    @include box-shadow(0, 1px, 1px, rgba(0, 0, 0, .12));
    @include position($left: 0, $right: 0);
    z-index: zindex("top");
  }
}
