// page
// -----------------------------------------

.page-fs {
  background-image: url("/static/dist/img/task-management-logo-bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.page-header {
  background: color("primary");

  .h1,
  .h2 {
    margin-bottom: 0;
    color: color("white");
  }

  .h1 {
    margin-top: 1rem;
  }

  a {
    color: color("white");

    &:hover {
      color: color("white");
    }
  }
  .page-header-actions {
    margin-left: auto;
  }

  .page-header-tab-title {
    display: inline-block;
    padding: 1rem 1.5rem;
    background: $body-background;
  }

  .padded {
    padding: 2rem 0;
  }
}

.inner-content {
  margin-top: 5rem;

  .inner-header {
    padding: 1rem 0;

    .h1,
    .h2 {
      margin-bottom: 0;
    }

    .inner-header-actions {
      margin-left: auto;
    }
  }

}
