// page
// -----------------------------------------

body.focus-on-update {
  padding-top: 3rem;
}

.page-header {
  display: flex;
  align-items: center;
  margin-bottom: $generic-margin-bottom * 2;

  .page-header-actions {
    margin-left: auto;
  }

  h2 {
    margin: 0;
  }
}
