// Panel
// -----------------------------------------

.panel {
  background: color("white");
  border: 1px solid $border-color;
  margin-bottom: 3rem;
  padding: 3rem;

  .panel-actions {
    text-align: right;
  }

}

