// Table
// -----------------------------------------

/* stylelint-disable declaration-no-important, selector-no-qualifying-type  */

tbody tr:last-child {
  border-bottom: $table-border-width solid $table-border-color;
}

tbody tr[data-url] {
  cursor: pointer;
}

tbody.closed-task,
tbody.closed-job {
  display: none;
}

th.keep-min-width,
td.keep-min-width {
  width: 1%;
  white-space: nowrap;
}

td input,
td select,
td textarea {
  margin-bottom: 0 !important;
}
