// Tabs
//––––––––––––––––––––––––––––––––––––––––––––––––––

/* stylelint-disable selector-no-qualifying-type  */

.tabs {
  z-index: zindex("tabs");
  margin: 0;
  list-style-type: none;

  li {
    display: inline-block;
    padding: 1rem 1.5rem;
    cursor: pointer;
    background: color-a("primary", .14);
    border: 1px solid $border-color;
    border-bottom: 0;
  }

  li:not(.active) a {
    color: $font-color;
  }

  li.active {
    background: color("white");
  }

  + .panel {
    margin-top: -1px;
  }
}
