// Tags
//––––––––––––––––––––––––––––––––––––––––––––––––––

.tags {
  margin-bottom: 0;
  list-style-type: none;

  .tag {
    display: inline-block;
    padding: .2rem .5rem;
    margin-right: .5rem;
    color: color("white");
    background: color("shadylady");
    border: 1px solid color("shadylady");
    border-radius: $global-radius;
  }

  .tag.outline {
    color: color("shadylady");
    background: transparent;
    border: dotted 1px color("shadylady");
  }

  .tag.active {
    color: color("primary");
    border-color: color("primary");
  }
}
