// Timesheet
// ------------------------------

.client-list-wrapper {
  flex: 1 1 auto;
  overflow-y: auto;
}

.client-list,
.client-list ul {
  margin-left: 0;
  list-style-type: none;
}

.client-list a:hover {
  background-color: color-a("primary", .24);
}

.client-list .client {
  display: block;
  padding: 1rem 1rem;
  margin-bottom: .3rem;
  font-weight: 700;
  cursor: pointer;
  background-color: color("gainsboro");
}

.client-list .job {
  display: block;
  padding: 1rem 1rem;
  margin-bottom: .3rem;
  cursor: pointer;
  border-bottom: 1px solid $border-color;
}

.client-list .task {
  padding: 0;
  margin-bottom: .3rem;
  cursor: pointer;
  background-color: color("lightgrey");
  border-radius: .25rem;
  &:hover {
    @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, .24));
  }
}

.client-list .task .color-indicator {
  margin-top: 1.2rem;
  margin-left: 1rem;
}

.client-list .task span {
  padding: 1rem 1rem 1rem 0;
}

.timesheet {
  position: relative;
  margin-bottom: $generic-margin-bottom;
}

.timesheet h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.timesheet table {
  margin-bottom: 0;
}

.fc-dailycontrol {
  margin: 0;

  label {
    padding-right: 0;
  }

  input {
    display: none;
  }
}

.timesheet-event-overlay {
  @include box-shadow(1px, 1px, 2px, color("shadylady"));
  @include position($right: 25px, $bottom: 10px);
  z-index: 10;
  display: none;
  width: 400px;
  background: $body-background;
  border: solid 1px $border-color;
}

.timesheet-event-overlay.in {
  display: block;
}

.timesheet-event-overlay .overlay-header {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.timesheet-event-overlay .overlay-header .title {
  margin: 0;
}

.timesheet-event-overlay .overlay-header .close {
  cursor: pointer;
}

.timesheet-event-overlay .overlay-body {
  padding: 1.5rem;
}

// full calendar

/* stylelint-disable declaration-no-important, selector-pseudo-element-colon-notation */
.fc-state-default {
  text-shadow: none !important;
  background-image: none !important;
  box-shadow: none !important;
}
