// utils
// -----------------------------------------

/* stylelint-disable declaration-no-important  */

.color-indicator {
  display: inline-block;
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  border: 1px solid color("white");
  border-radius: 50%;
}

.comment {
  padding: 1.5rem;
  margin-bottom: $generic-margin-bottom;
  background: color-a("primary", .08);

  & > *:last-child {
    margin-bottom: 0;
  }
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-0-5 {
  margin-bottom: .5rem !important;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mr-0-5 {
  margin-right: .5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.w-auto {
  width: auto;
}

.flex-flow-column {
  flex-flow: column;
}

.flex-fill {
  flex: 1 1 auto;
}
