{% extends 'base.html' %}
{% load i18n static %}
{% block page_title %}Clients{% endblock %}
{% block body_class %}{% endblock %}
{% block inner_content %}
    <div class="page-header py-2">
        <div class="container-fluid d-flex align-items-center">
            <span class="color-indicator" style="background: {{ object.colour }}"></span>
            <div class="h2">
                <a href="{{ object.get_absolute_url }}" class="underline-dotted">{{ object.name }}</a>
            </div>
            <div class="page-header-actions">
                <a class="button button-white" href="{{ object.get_update_url }}">{% trans 'Edit' %}</a>
                <a class="button button-white button-clear" href="{% url 'wip:client-delete' object.pk %}">{% trans 'Delete' %} <i class="icon-trash"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid inner-content">
        <div class="row">
            <div class="col-lg-3">
                <p class="strong">{% trans 'Email Address' %}</p>
                <p><a href="mailto://{{ object.email_address }}" class="underline-dotted">{{ object.email_address }}</a></p>
                <hr/>
                <p class="strong">{% trans 'Phone Number' %}</p>
                <p>
                    {% if object.phone_number %}
                        <a href="tel:{{ object.phone_number }}" class="underline-dotted">{{ object.phone_number }}</a>
                        {% if user.is_gradwell_enabled %}
                            <a href="" data-make-call-url="{% url 'api:makecall-call' %}" data-tel="{{ object.phone_number|cut:" " }}"><i class="icon-phone c-red"></i></a>
                        {% endif %}
                    {% endif %}
                </p>
                <hr/>
                <p class="strong">{% trans 'Website' %}</p>
                <p><a href="{{ object.website }}" class="underline-dotted">{{ object.website }}</a></p>
                <hr/>
                <p class="strong">{% trans 'Address' %}</p>
                {{ object.address|linebreaks }}
            </div>
            <div class="col-lg-9">
                <ul class="tabs">
                    <li data-tab-id="jobs" class="active">{% trans 'Jobs' %}</li>
                    <li data-tab-id="contacts">{% trans 'Contacts' %}</li>
                </ul>
                <div class="panel">
                    <div data-tab="jobs">
                        <div class="panel-actions">
                            <a class="button button-primary" href="{% url 'wip:job-create' object.pk %}">{% trans 'Add' %}</a>
                        </div>
                        <table class="table-hover table-headed margin-zero">
                            <thead>
                                <tr>
                                    <th class="keep-min-width">{% trans 'ID' %}</th>
                                    <th>{% trans 'Title' %}</th>
                                    <th class="keep-min-width">{% trans 'Status' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for job in object.jobs.all %}
                                    <tr data-url="{{ job.get_absolute_url }}">
                                        <td class="keep-min-width">{{ job.pk }}</td>
                                        <td>{{ job.title }}</td>
                                        <td class="keep-min-width">{{ job.status }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div data-tab="contacts" class="d-hidden">
                        <div class="panel-actions">
                            <a class="button button-primary" href="{% url 'wip:clientcontact-create' object.pk %}">{% trans 'Add' %}</a>
                        </div>
                        <table class="table-hover table-headed margin-zero">
                            <thead>
                                <tr>
                                    <th>{% trans 'Name' %}</th>
                                    <th>{% trans 'Email Address' %}</th>
                                    <th>{% trans 'Phone Number' %}</th>
                                    <th>{% trans 'Mobile Number' %}</th>
                                    <th>{% trans 'Position' %}</th>
                                    <th class="keep-min-width"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contact in object.contacts.all %}
                                    <tr data-url="{{ contact.get_update_url }}">
                                        <td>{{ contact.get_full_name }}</td>
                                        <td>{{ contact.email_address }}</td>
                                        <td>{{ contact.phone_number }}</td>
                                        <td>{{ contact.mobile_number }}</td>
                                        <td>{{ contact.position }}</td>
                                        <td class="keep-min-width text-right">
                                            <a href="{% url 'wip:clientcontact-delete' contact.pk %}"><i class="icon-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    {% include 'partials/make_call_js.html' %}
    <script src="{% static 'dist/js/tabs.min.js' %}"></script>
    <script>$('.tabs').tabs();</script>
{% endblock %}