{% extends 'base.html' %}
{% load i18n %}
{% block page_title %}Clients{% endblock %}
{% block body_class %}{% endblock %}
{% block inner_content %}
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="container">
            <div class="page-header">
                <h2>{% trans 'Add Client' %}</h2>
                <div class="page-header-actions">
                    <button class="button button-primary" type="submit">{% trans 'Add' %}</button>
                </div>
            </div>
            <div class="panel">
                {% for field in form %}
                    <div class="row field-wrapper">
                        <div class="col-lg-2">{{ field.label_tag }}</div>
                        <div class="col-lg-10">{{ field }}{{ field.errors }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </form>
{% endblock %}