{% extends 'base.html' %}
{% load i18n %}
{% block page_title %}Clients{% endblock %}
{% block body_class %}{% endblock %}
{% block inner_content %}
    <div class="page-header py-2">
        <div class="container-fluid d-flex align-items-center">
            <div class="h2">{% trans 'Clients' %}</div>
            <div class="page-header-actions">
                 <a class="button button-white" href="{% url 'wip:client-create' %}">{% trans 'Add Client' %}</a>
            </div>
        </div>
    </div>
    <div class="container-fluid inner-content">
        <div class="panel">
            <form method="get" novalidate>
                <div class="icon-input">
                    <input name="search" type="search" placeholder="{% trans 'Search' %}" value="{{ search }}">
                    <span class="icon-search"></span>
                </div>
                <button type="submit" class="d-hidden"></button>
            </form>
            <table class="table-headed table-hover margin-zero layout-fixed">
                <thead>
                    <tr>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Email Address' %}</th>
                        <th>{% trans 'Phone Number' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                        <tr data-url="{{ object.get_absolute_url }}">
                            <td>{{ object.name }}</td>
                            <td>{{ object.email_address|default:'-' }}</td>
                            <td>{{ object.phone_number|default:'-' }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">
                            {% if search %}
                                {% trans 'No clients found matching the search criteria.' %}
                            {% else %}
                                {% trans 'Please search for clients using the search box.' %}
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script>
$(function() {
    // focus on the input at end of value
    var input = $('[name=search]');
    var val = input.val();
    input.focus().val('').val(val);
});
</script>
{% endblock %}