{% extends 'base.html' %}
{% load i18n %}
{% block page_title %}Clients{% endblock %}
{% block body_class %}{% endblock %}
{% block full_outer_content %}
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="page-header py-2">
            <div class="container-fluid d-flex align-items-center">
                <span class="color-indicator" style="background: {{ object.client.colour }}"></span>
                <div class="h2">
                    <a href="{{ object.client.get_absolute_url }}" class="underline-dotted">{{ object.client.name }}</a>
                </div>
                <div class="page-header-actions">
                    {% if not protected %}
                        <button class="button button-white" type="submit">{% trans 'Delete' %}</button>
                    {% endif %}
                    <a class="button button-white button-clear" href="{{ object.client.get_absolute_url }}">{% trans 'Cancel' %}</a>
                </div>
            </div>
        </div>
        <div class="container-fluid inner-content">
            <div class="panel">
                {% if protected %}
                    <p>{% blocktrans with ob=object %}The following objects need to be deleted first:{% endblocktrans %}</p>
                    <ul class="margin-zero">
                    {% for item in protected %}
                        <li>{{ item.verbose_name|capfirst }}: <a href="{{ item.object.get_absolute_url }}">{{ item.object }}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p class="margin-zero">{% blocktrans with ob=object %}Please confirm you wish to delete <em>"{{ ob }}"</em>{% endblocktrans %}</p>
                {{ form }}
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}