{% extends 'base.html' %}
{% load i18n %}
{% block page_title %}Clients{% endblock %}
{% block body_class %}{% endblock %}
{% block full_outer_content %}
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="page-header">
            <div class="container-fluid d-flex align-items-center py-2">
                <span class="color-indicator" style="background: {{ object.client.colour }}"></span>
                <div class="h2">
                    <a href="{{ object.client.get_absolute_url }}" class="underline-dotted">{{ object.client.name }}</a>
                </div>
                <div class="page-header-actions">
                    <button class="button button-white" type="submit">{% trans 'Update' %}</button>
                    <a class="button button-white button-clear" href="{{ object.client.get_absolute_url }}">{% trans 'Cancel' %}</a>
                </div>
            </div>
            <div class="container-fluid">
                <div class="page-header-tab-title">{% trans 'Contact' %}</div>
            </div>
        </div>
        <div class="container-fluid inner-content">
            {% for field in form %}
                {% if user.is_gradwell_enabled %}
                    {% if field.name == 'phone_number' or field.name == 'mobile_number' %}
                        <div class="row field-wrapper">
                            <div class="col-lg-2">{{ field.label_tag }}</div>
                            <div class="col-lg-10">
                                <div class="input-group">
                                    {{ field }}
                                    {% if field.value %}
                                        <div class="input-group-addon">
                                            <a href="" data-make-call-url="{% url 'api:makecall-call' %}" data-tel="{{ field.value|cut:" " }}"><i class="icon-phone c-red"></i></a>
                                        </div>
                                    {% endif %}
                                </div>
                                {{ field.errors }}
                            </div>
                        </div>
                    {% else %}
                        <div class="row field-wrapper">
                            <div class="col-lg-2">{{ field.label_tag }}</div>
                            <div class="col-lg-10">{{ field }}{{ field.errors }}</div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="row field-wrapper">
                        <div class="col-lg-2">{{ field.label_tag }}</div>
                        <div class="col-lg-10">{{ field }}{{ field.errors }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </form>
{% endblock %}
{% block extra_js %}
    {{ form.media }}
    {% include 'partials/make_call_js.html' %}
{% endblock %}