{% extends 'base.html' %}
{% load i18n %}
{% block page_title %}Clients{% endblock %}
{% block body_class %}{% endblock %}
{% block inner_content %}
    <div class="container">
        <div class="page-header">
            <h2>{% trans 'Clients' %}</h2>
            <div class="page-header-actions">
                <a class="button button-primary" href="{% url 'wip:client-create' %}">{% trans 'Add Client' %}</a>
            </div>
        </div>
        <div class="panel">
            <table class="table-headed table-hover margin-zero">
                <thead>
                    <tr>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Email' %}</th>
                        <th>{% trans 'Tel' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                        <tr data-url="{{ object.get_absolute_url }}">
                            <td>{{ object.name }}</td>
                            <td>{{ object.email_address }}</td>
                            <td>{{ object.phone_number }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td>{% trans 'No clients have been created,' %} <a class="strong" href="{% url 'wip:client-create' %}">{% trans 'create one now.' %}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}