{% extends 'base.html' %}
{% load i18n %}
{% block page_title %}Clients{% endblock %}
{% block body_class %}{% endblock %}
{% block full_outer_content %}
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="page-header">
            <div class="container-fluid d-flex align-items-center py-2">
                <div class="h2">{% trans 'Add Client' %}</div>
                <div class="page-header-actions">
                    <button class="button button-white" type="submit">{% trans 'Add' %}</button>
                    <a class="button button-white button-clear" href="{% url 'wip:client-list' %}">{% trans 'Cancel' %}</a>
                </div>
            </div>
            <div class="container-fluid">
                <div class="page-header-tab-title">{% trans 'Detail' %}</div>
            </div>
        </div>
        <div class="container-fluid inner-content">
            <div class="panel">
                {% for field in form %}
                    <div class="row field-wrapper">
                        <div class="col-lg-2">{{ field.label_tag }}</div>
                        <div class="col-lg-10">{{ field }}{{ field.errors }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </form>
{% endblock %}