{% extends 'base.html' %}
{% load i18n %}
{% block page_title %}Clients{% endblock %}
{% block body_class %}{% endblock %}
{% block inner_content %}
    <div class="container">
        <div class="page-header">
            {% include 'wip/partials/object_intro_header.html' %}
        </div>
    </div>
    <div class="container">
        <div class="panel padded">
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form }}
                <button class="button button-primary" type="submit">{% trans 'Save' %}</button>
            </form>
        </div>
    </div>
    {% if object.pk %}
    <div class="container">
        <a class="button button-danger" href="{% url 'wip:client-delete' object.pk %}">{% trans 'Delete' %}</a>
    </div>
    {% endif %}
{% endblock %}