{% extends 'base.html' %}
{% load i18n %}
{% block page_title %}Jobs{% endblock %}
{% block body_class %}{% endblock %}
{% block inner_content %}
    <div class="container">
        <div class="page-header">
            <h2>{% trans 'Jobs' %}</h2>
            <a class="button button-primary" href="{% url 'wip:job-create' %}">{% trans 'Create' %}</a>
        </div>
    </div>
    <div class="container">
        <div class="panel">
            <table class="margin-zero">
                <thead>
                    <tr>
                        <th>{% trans 'Title' %}</th>
                        <th>{% trans 'ID' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td><a href="{{ object.get_detail_url }}">{{ object.title }}</a></td>
                            <td>{{ object.pk }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td>{% trans 'No jobs have been created,' %} <a class="strong" href="">{% trans 'create one now.' %}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}