{% extends 'base.html' %}
{% load i18n static %}
{% block page_title %}Jobs{% endblock %}
{% block body_class %}{% endblock %}
{% block inner_content %}
    <div class="container">
        <div class="page-header">
            <span class="job-color-indicator" style="background: {{ object.colour }}"></span>
            <h2>{{ object.pk }} : {{ object.client }} / {{ object.title }}</h2>
            <div class="page-header-actions">
                <a class="button button-primary" href="{{ object.get_update_url }}">{% trans 'Edit' %}</a>
                <a class="button button-primary button-clear" href="{% url 'wip:job-delete' object.pk %}">{% trans 'Delete' %} <i class="icon-trash"></i></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="strong">{% trans 'Description' %}</p>
                {{ object.description|default:'-'|linebreaks }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-xl-3">
                <div class="panel text-center">
                    <p class="strong">{% trans 'Time Spent (hours)' %}</p>
                    <p>-</p>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="panel text-center">
                    <p class="strong">{% trans 'Type' %}</p>
                    <p>{{ object.type }}</p>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="panel text-center">
                    <p class="strong">{% trans 'Status' %}</p>
                    <p>{{ object.status }}</p>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="panel text-center">
                    <p class="strong">{% trans 'Billed To' %}</p>
                    <p>{{ object.billed_to|date:'d/m/Y'|default:'-' }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="tabs">
                    <li data-tab-id="tasks" class="active">{% trans 'Tasks' %}</li>
                    <li data-tab-id="relationships">{% trans 'Relationships' %}</li>
                    <li data-tab-id="recurring_costs">{% trans 'Recurring Costs' %}</li>
                    <li data-tab-id="notes">{% trans 'Notes' %}</li>
                </ul>
                <div class="panel">
                    <div data-tab="tasks">
                        <div class="panel-actions">
                            <a class="button button-secondary button-outline" href="{% url 'wip:task-create' object.pk %}">{% trans 'Add' %}</a>
                        </div>
                        <table class="table-hover table-headed margin-zero">
                            <thead>
                                <tr>
                                    <th>{% trans 'Title' %}</th>
                                    <th class="keep-min-width">{% trans 'Status' %}</th>
                                    <th class="keep-min-width">{% trans 'Allocated Hours' %}</th>
                                    <th class="keep-min-width">{% trans 'Time Spent' %}</th>
                                    <th class="keep-min-width">{% trans 'Target Date' %}</th>
                                    <th class="keep-min-width">{% trans 'Closed' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in object.tasks.all %}
                                <tr data-url="{{ task.get_absolute_url }}">
                                    <td>{{ task.title }}</td>
                                    <td class="keep-min-width">{{ task.status }}</td>
                                    <td class="keep-min-width">{{ task.allocated_hours }}</td>
                                    <td class="keep-min-width">-</td>
                                    <td class="keep-min-width">{{ task.target_date|date:'d/m/Y'|default:'-' }}</td>
                                    <td class="keep-min-width">{{ task.closed|yesno }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div data-tab="relationships" class="d-hidden">
                        <table class="table-hover table-headed margin-zero">
                            <thead>
                                <tr>
                                    <th>{% trans 'User' %}</th>
                                    <th>{% trans 'Relationship' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for relationship in object.relationships.all %}
                                <tr>
                                    <td>{{ relationship.user.get_full_name }}</td>
                                    <td>{{ relationship.relationship }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div data-tab="recurring_costs" class="d-hidden">
                        <table class="table-hover table-headed margin-zero">
                            <thead>
                                <tr>
                                    <th>{% trans 'Type' %}</th>
                                    <th>{% trans 'Last Invoiced Date' %}</th>
                                    <th>{% trans 'Billing Frequency' %}</th>
                                    <th>{% trans 'Payment Option' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cost in object.recurring_costs.all %}
                                <tr>
                                    <td>{{ cost.type }}</td>
                                    <td>{{ cost.last_invoiced_date|date:'d/m/Y'|default:'-' }}</td>
                                    <td>{{ cost.billing_frequency_text }}</td>
                                    <td>{{ cost.payment_option }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div data-tab="notes" class="d-hidden">
                        <table class="table-hover table-headed margin-zero">
                            <thead>
                                <tr>
                                    <th class="keep-min-width">{% trans 'Created' %}</th>
                                    <th>{% trans 'Note' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for note in object.notes.all %}
                                <tr>
                                    <td class="keep-min-width">{{ note.user.get_full_name }}<br/>{{ note.created_at|date:'d/m/Y'|default:'-' }}</td>
                                    <td>{{ note.note|linebreaksbr }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'dist/js/tabs.js' %}"></script>
    <script>$('.tabs').tabs();</script>
{% endblock %}