{% extends 'base.html' %}
{% load i18n %}
{% block page_title %}Jobs{% endblock %}
{% block body_class %}focus-on-update{% endblock %}
{% block full_outer_content %}
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="container">
            <div class="page-header">
                <h2>{% trans 'Add Job' %}</h2>
                <div class="page-header-actions">
                    <button class="button button-primary" type="submit">{% trans 'Add' %}</button>
                    <a class="button button-primary button-clear" href="javascript:history.go(-1)">{% trans 'Cancel' %}</a>
                </div>
            </div>
            {% for field in form %}
                <div class="row field-wrapper">
                    <div class="col-lg-2">{{ field.label_tag }}</div>
                    <div class="col-lg-10">{{ field }}{{ field.errors }}</div>
                </div>
            {% endfor %}
        </div>
    </form>
{% endblock %}
{% block extra_js %}
    {{ form.media }}
{% endblock %}