{% extends 'base.html' %}
{% load i18n static %}
{% block page_title %}Jobs{% endblock %}
{% block body_class %}{% endblock %}
{% block inner_content %}
    <div class="page-header py-2">
        <div class="container-fluid d-flex align-items-center">
            <span class="color-indicator" style="background: {{ object.colour }}"></span>
            <div class="h2">
                <b>{{ object.pk }}</b> :
                <a href="{{ object.client.get_absolute_url }}" class="underline-dotted">{{ object.client.name }}</a> /
                <a href="{{ object.get_absolute_url }}" class="underline-dotted">{{ object.title }}</a>
            </div>
            <div class="page-header-actions">
                <a class="button button-white" href="{{ object.get_update_url }}">{% trans 'Edit' %}</a>
                <a class="button button-white button-clear" href="{% url 'wip:job-delete' object.pk %}">{% trans 'Delete' %} <i class="icon-trash"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid inner-content">
        <div class="row">
            <div class="col">
                <p class="strong">{% trans 'Description' %}</p>
                {{ object.description|default:'-'|linebreaks }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-xl-3">
                <div class="panel text-center">
                    <p class="strong">{% trans 'Time Spent (hours)' %}</p>
                    <p>{{ object.time_spent_hours }} of {{ object.allocated_hours }}</p>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="panel text-center">
                    <p class="strong">{% trans 'Type' %}</p>
                    <p>{{ object.type }}</p>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="panel text-center">
                    <p class="strong">{% trans 'Status' %}</p>
                    <p>{{ object.status }}</p>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="panel text-center">
                    <p class="strong">{% trans 'Billed To' %}</p>
                    <p>{{ object.billed_to|date:'d/m/Y'|default:'-' }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="tabs">
                    <li data-tab-id="tasks" class="active">{% trans 'Tasks' %}</li>
                    <li data-tab-id="notes">{% trans 'Notes' %}</li>
                    <li data-tab-id="files">{% trans 'Files' %}</li>
                    <li data-tab-id="relationships">{% trans 'Relationships' %}</li>
                    <li data-tab-id="recurring_costs">{% trans 'Recurring Costs' %}</li>
                </ul>
                <div class="panel">
                    <div data-tab="tasks">
                        <div class="panel-actions">
                            <a class="button button-primary" href="{% url 'wip:task-create' object.pk %}">{% trans 'Add' %}</a>
                        </div>
                        <table class="table-hover table-headed margin-zero">
                            <thead>
                                <tr>
                                    <th class="keep-min-width"></th>
                                    <th class="keep-min-width">{% trans 'ID' %}</th>
                                    <th>{% trans 'Title' %}</th>
                                    <th class="keep-min-width">{% trans 'Tags' %}</th>
                                    <th class="keep-min-width">{% trans 'Assignees' %}</th>
                                    <th class="keep-min-width">{% trans 'Time Spent (hours)' %}</th>
                                    <th class="keep-min-width">{% trans 'Target Date' %}</th>
                                    <th class="keep-min-width">{% trans 'Status' %}</th>
                                </tr>
                            </thead>
                            <tbody class="sortable">
                                {% for task in object.tasks.all %}
                                    {% if not task.closed %}
                                        <tr data-id="{{ task.id }}" data-url="{{ task.get_absolute_url }}">
                                            <td class="keep-min-width"><i class="icon-menu"></i></td>
                                            <td class="keep-min-width">{{ task.pk }}</td>
                                            <td>{{ task.title }}</td>
                                            <td class="keep-min-width"><ul class="tags">{% for tag in task.tags.all %}<li class="tag">{{ tag }}</li>{% empty %}<li>-</li>{% endfor %}</ul></td>
                                            <td class="keep-min-width">{% for assignee in task.assignees.all %}{{ assignee.user.get_short_name }}{% if not forloop.last %}, {% endif %}{% empty %}-{% endfor %}</td>
                                            <td class="keep-min-width">{{ task.time_spent_hours }} of {{ task.allocated_hours }}</td>
                                            <td class="keep-min-width">{{ task.target_date|date:'d/m/Y'|default:'-' }}</td>
                                            <td class="keep-min-width">{{ task.status }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            <tbody class="closed-task">
                                {% for task in object.tasks.all %}
                                    {% if task.closed %}
                                        <tr data-url="{{ task.get_absolute_url }}">
                                            <td></td>
                                            <td colspan="6" class="muted"><i class="icon-ok"></i> {{ task.title }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="text-center pt-2">
                            <a class="button button-shadylady button-outline toggle-closed-tasks">{% trans 'Show Closed' %}</a>
                        </div>
                    </div>
                    <div data-tab="notes" class="d-hidden">
                        <div class="panel-actions">
                            <a class="button button-primary" href="{% url 'wip:jobnote-create' object.pk %}">{% trans 'Add' %}</a>
                        </div>
                        {% for note in object.notes.all %}
                            <p>{{ note.user.get_full_name }} - {{ note.updated_at }}</p>
                            <div class="comment">{{ note.note|linebreaks }}</td></div>
                            <span class="small muted">
                                <a href="{{ note.get_update_url }}" class="underline-dotted">{% trans 'Edit' %}</a> |
                                <a href="{% url 'wip:jobnote-delete' note.pk %}" class="underline-dotted">{% trans 'Delete' %}</a>
                            </span>
                            {% if not forloop.last %}<hr>{% endif %}
                        {% endfor %}
                    </div>
                    <div data-tab="files" class="d-hidden">
                        <form id="files-dropzone" method="post" action="{% url 'wip:jobfile-upload' object.pk %}" enctype="multipart/form-data" class="dropzone">
                            {% csrf_token %}
                            <input type="file" name="file" multiple>
                        </form>
                        <table class="table-headed margin-zero">
                            <thead>
                                <tr>
                                    <th>{% trans 'File' %}</th>
                                    <th class="keep-min-width">{% trans 'Size' %}</th>
                                    <th class="keep-min-width"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for file in object.files.all %}
                                <tr>
                                    <td><a href="{{ file.file.url }}" target="_blank">{{ file }}</a></td>
                                    <td class="keep-min-width">{{ file.size_mb }}</td>
                                    <td class="keep-min-width text-right"><a href="{% url 'wip:jobfile-delete' file.pk %}"><i class="icon-trash"></i></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div data-tab="relationships" class="d-hidden">
                        <div class="panel-actions">
                            <a class="button button-primary" href="{% url 'wip:jobrelationship-update' object.pk %}">{% trans 'Edit' %}</a>
                        </div>
                        <table class="table-headed margin-zero">
                            <thead>
                                <tr>
                                    <th>{% trans 'User' %}</th>
                                    <th>{% trans 'Relationship' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for relationship in object.relationships.all %}
                                <tr>
                                    <td>{{ relationship.user.get_full_name }}</td>
                                    <td>{{ relationship.relationship }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div data-tab="recurring_costs" class="d-hidden">
                        <div class="panel-actions">
                            <a class="button button-primary" href="{% url 'wip:jobrecurringcost-update' object.pk %}">{% trans 'Edit' %}</a>
                        </div>
                        <table class="table-headed margin-zero">
                            <thead>
                                <tr>
                                    <th>{% trans 'Type' %}</th>
                                    <th>{% trans 'Last Invoiced Date' %}</th>
                                    <th>{% trans 'Billing Frequency' %}</th>
                                    <th>{% trans 'Payment Option' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cost in object.recurring_costs.all %}
                                <tr>
                                    <td>{{ cost.type }}</td>
                                    <td>{{ cost.last_invoiced_date|date:'d/m/Y'|default:'-' }}</td>
                                    <td>{{ cost.billing_frequency_text }}</td>
                                    <td>{{ cost.payment_option }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'dist/vendor/dropzone/dropzone.min.css' %}">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'dist/vendor/jqueryui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/vendor/dropzone/dropzone.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/js/tabs.min.js' %}"></script>
    <script>
        // dropzone options
        Dropzone.options.filesDropzone = {
            maxFilesize: 5,
            init: function() {
                this.on("success", function(response) {
                    var url = "{% url 'wip:jobfile-delete' 0 %}";
                    var data = JSON.parse(response.xhr.response);
                    url = url.replace('0', data.pk);
                    var html = '<tr>' +
                        '<td><a href="' + data.url + '" target="_blank">' + data.name + '</a></td>' +
                        '<td class="keep-min-width">' + data.size_mb + '</td>' +
                        '<td class="keep-min-width text-right"><a href="' + url + '"><i class="icon-trash"></i></a></td>' +
                        '</tr>';
                    var table = $('[data-tab="files"] table tbody');
                    table.append(html);
                });
            }
        };

        $( function() {
            // tabs
            $('.tabs').tabs();
            // sortable tasks
            $('.sortable').sortable({
                stop: function (event, ui) {
                    var _this = $(this);
                    $.ajax({
                        type: "POST",
                        url: "{% url 'api:job-sort-tasks' object.pk %}",
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        data: JSON.stringify({
                            tasks: _this.sortable('toArray', {attribute: "data-id"})
                        }),
                        error: function (err) {
                            _this.sortable('cancel');
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}