{% extends 'base.html' %}
{% load i18n %}
{% block page_title %}Jobs{% endblock %}
{% block body_class %}{% endblock %}
{% block full_outer_content %}
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="page-header">
            <div class="container-fluid d-flex align-items-center py-2">
                <span class="color-indicator" style="background: {{ form.instance.client.colour }}"></span>
                <div class="h2">
                    <a href="{{ form.instance.client.get_absolute_url }}" class="underline-dotted">{{ form.instance.client.name }}</a>
                </div>
                <div class="page-header-actions">
                    <button class="button button-white" type="submit">{% trans 'Add' %}</button>
                    <a class="button button-white button-clear" href="{{ form.instance.client.get_absolute_url }}">{% trans 'Cancel' %}</a>
                </div>
            </div>
            <div class="container-fluid">
                <div class="page-header-tab-title">{% trans 'Add' %}</div>
            </div>
        </div>
        <div class="container-fluid inner-content">
            {% for field in form %}
                <div class="row field-wrapper">
                    <div class="col-lg-2">{{ field.label_tag }}</div>
                    <div class="col-lg-10">{{ field }}{{ field.errors }}</div>
                </div>
            {% endfor %}
        </div>
    </form>
{% endblock %}
{% block extra_js %}
    {{ form.media }}
{% endblock %}