{% extends 'base.html' %}
{% load i18n %}
{% block page_title %}Task Notes{% endblock %}
{% block body_class %}{% endblock %}
{% block full_outer_content %}
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="page-header">
            <div class="container d-flex align-items-center pt-2">
                <span class="color-indicator" style="background: {{ object.task.job.colour }}"></span>
                <div class="h2">
                    <b>{{ form.instance.task.job.pk }}</b> :
                    <a href="{{ object.task.job.client.get_absolute_url }}">{{ object.task.job.client.name }}</a> /
                    <a href="{{ object.task.job.get_absolute_url }}">{{ object.task.job.title }}</a>
                </div>
                <div class="page-header-actions">
                    {% if not protected %}
                        <button class="button button-white" type="submit">{% trans 'Delete' %}</button>
                    {% endif %}
                    <a class="button button-white button-clear" href="{{ object.task.get_absolute_url }}">{% trans 'Cancel' %}</a>
                </div>
            </div>
            <div class="container pb-2"><div class="h1">{{ object.task.title }}</div></div>
        </div>
        <div class="container inner-content">
            <div class="panel">
                {% if protected %}
                    <p>{% blocktrans with ob=object %}The following objects need to be deleted first:{% endblocktrans %}</p>
                    <ul class="margin-zero">
                    {% for item in protected %}
                        <li>{{ item.verbose_name|capfirst }}: <a href="{{ item.object.get_absolute_url }}">{{ item.object }}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p class="margin-zero">{% blocktrans with ob=object %}Please confirm you wish to delete <em>"{{ ob }}"</em>{% endblocktrans %}</p>
                {{ form }}
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}