{% extends 'base.html' %}
{% load i18n static %}
{% block page_title %}Tasks{% endblock %}
{% block body_class %}{% endblock %}
{% block inner_content %}
    <div class="page-header py-2">
        <div class="container-fluid d-flex align-items-center">
            <span class="color-indicator" style="background: {{ object.job.colour }}"></span>
            <div class="h2">
                <b>{{ object.job.pk }}</b> :
                <a href="{{ object.job.client.get_absolute_url }}" class="underline-dotted">{{ object.job.client.name }}</a> /
                <a href="{{ object.job.get_absolute_url }}" class="underline-dotted">{{ object.job.title }}</a>
            </div>
            <div class="page-header-actions">
                <a class="button button-white" href="{{ object.get_update_url }}">{% trans 'Edit' %}</a>
                <a class="button button-white button-clear" href="{% url 'wip:task-delete' object.pk %}">{% trans 'Delete' %} <i class="icon-trash"></i></a>
            </div>
        </div>
        <div class="container-fluid"><div class="h1">{{ object.title }}</div></div>
    </div>
    <div class="container-fluid inner-content">
        <div class="row">
            <div class="col-lg-3">
                <p class="strong">{% trans 'Description' %}</p>
                {{ object.description|default:'-'|linebreaks }}
                <hr/>
                <p class="strong">{% trans 'Time Spent (hours)' %}</p>
                <p>{{ object.time_spent_hours }} of {{ object.allocated_hours }}</p>
                <hr/>
                <p class="strong">{% trans 'Status' %}</p>
                <p>{{ object.status }}</p>
                <hr/>
                <p class="strong">{% trans 'Target Date' %}</p>
                <p>{{ object.target_date|date:'d/m/Y'|default:'-' }}</p>
                <hr/>
                <p class="strong">{% trans 'Closed' %}</p>
                <p>{{ object.closed|yesno:'Yes,-,-' }}</p>
                <hr/>
                <p class="strong">{% trans 'Not Chargeable' %}</p>
                <p>{{ object.not_chargeable|yesno:'Yes,-,-' }}</p>
                <hr/>
                <p class="strong">{% trans 'Tags' %}</p>
                <ul class="tags">{% for tag in object.tags.all %}<li class="tag">{{ tag }}</li>{% empty %}<li>-</li>{% endfor %}</ul>
            </div>
            <div class="col-lg-9">
                <ul class="tabs">
                    <li data-tab-id="notes" class="active">{% trans 'Notes' %}</li>
                    <li data-tab-id="assignees">{% trans 'Assignees' %}</li>
                </ul>
                <div class="panel">
                    <div data-tab="notes">
                        <div class="panel-actions">
                            <a class="button button-primary" href="{% url 'wip:tasknote-create' object.pk %}">{% trans 'Add' %}</a>
                        </div>
                        {% for note in object.notes.all %}
                            <p>{{ note.user.get_full_name }} - {{ note.updated_at }}</p>
                            <div class="comment">{{ note.note|linebreaks }}</td></div>
                            <span class="small muted">
                                <a href="{{ note.get_update_url }}" class="underline-dotted">{% trans 'Edit' %}</a> |
                                <a href="{% url 'wip:tasknote-delete' note.pk %}" class="underline-dotted">{% trans 'Delete' %}</a>
                            </span>
                            {% if not forloop.last %}<hr>{% endif %}
                        {% endfor %}
                    </div>
                    <div data-tab="assignees" class="d-hidden">
                        <div class="panel-actions">
                            <a class="button button-primary" href="{% url 'wip:taskassignee-update' object.pk %}">{% trans 'Edit' %}</a>
                        </div>
                        <table class="table-headed margin-zero">
                            <thead>
                                <tr>
                                    <th>{% trans 'User' %}</th>
                                    <th>{% trans 'Allocated Hours' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for assignee in object.assignees.all %}
                                <tr>
                                    <td>{{ assignee.user.get_full_name }}</td>
                                    <td>{{ assignee.allocated_hours }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'dist/js/tabs.min.js' %}"></script>
    <script>$('.tabs').tabs();</script>
{% endblock %}