{% extends 'base.html' %}
{% load i18n static %}
{% block page_title %}Tasks{% endblock %}
{% block body_class %}{% endblock %}
{% block inner_content %}
    <div class="page-header py-2">
        <div class="container d-flex align-items-center">
            <span class="color-indicator" style="background: {{ object.job.colour }}"></span>
            <div class="h2"><b>{{ object.job.pk }}</b> : {{ object.job.client }} / {{ object.job }}</div>
            <div class="page-header-actions">
                <a class="button button-white" href="{{ object.get_update_url }}">{% trans 'Edit' %}</a>
                <a class="button button-white button-clear" href="{% url 'wip:task-delete' object.pk %}">{% trans 'Delete' %} <i class="icon-trash"></i></a>
            </div>
        </div>
        <div class="container"><div class="h1">{{ object.title }}</div></div>
    </div>
    <div class="container inner-content">
        <div class="row">
            <div class="col-lg-3">
                <p>{% trans 'Description' %}</p>
                {{ object.description|default:'-'|linebreaks }}
                <hr/>
                <p>{% trans 'Status' %}</p>
                <p>{{ object.status }}</p>
                <hr/>
                <p>{% trans 'Target Date' %}</p>
                <p>{{ object.target_date|date:'d/m/Y'|default:'-' }}</p>
                <hr/>
                <p>{% trans 'Closed' %}</p>
                <p>{{ object.closed|yesno:'Yes,-,-' }}</p>
                <hr/>
                <p>{% trans 'Not Chargeable' %}</p>
                <p>{{ object.not_chargeable|yesno:'Yes,-,-' }}</p>
            </div>
            <div class="col-lg-9">
                <ul class="tabs">
                    <li data-tab-id="assignees" class="active">{% trans 'Assignees' %}</li>
                    <li data-tab-id="notes">{% trans 'Notes' %}</li>
                </ul>
                <div class="panel">
                    <div data-tab="assignees">
                        <table class="table-hover table-headed margin-zero">
                            <thead>
                                <tr>
                                    <th>{% trans 'User' %}</th>
                                    <th>{% trans 'Allocated Hours' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for assignee in object.assignees.all %}
                                <tr>
                                    <td>{{ assignee.user.get_full_name }}</td>
                                    <td>{{ assignee.allocated_hours }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div data-tab="notes" class="d-hidden">
                        {% for note in object.notes.all %}
                            <p>{{ note.user.get_full_name }} - {{ note.created_at }}</p>
                            <div class="comment">{{ note.note|linebreaks }}</td></div>
                            <a href="">{% trans 'Edit' %}</a>
                            {% if not forloop.last %}<hr>{% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'dist/js/tabs.js' %}"></script>
    <script>$('.tabs').tabs();</script>
{% endblock %}