{% extends 'base.html' %}
{% load i18n static wip_tags %}
{% block page_title %}Taskboard{% endblock %}
{% block body_class %}{% endblock %}
{% block inner_content %}
    <div class="page-header py-2">
        <div class="container-fluid d-flex align-items-center c-white">
            <div class="h2 mr-2">{% trans 'Taskboard' %}</div>
            <div class="mr-2"><strong>{% trans 'Number of tasks' %}</strong> {{ count }}</div>
            <div class="mr-2"><strong>{% trans 'Allocated hours' %}</strong> {{ allocated_hours|default_if_none:'0.00' }}</div>
            <div><strong>{% trans 'Overdue tasks' %}</strong> {{ overdue }}</div>
            <div class="page-header-actions">
                <form method="get" novalidate>{{ form.user }}</form>
            </div>
        </div>
    </div>
    <div class="container-fluid inner-content">
        <div class="panel">
            <table class="table-hover table-headed margin-zero">
                <thead>
                    <tr>
                        <th class="keep-min-width">{% include 'wip/partials/sort_link.html' with field_sort_on='id' field_label='ID' %}</th>
                        <th class="keep-min-width">{% include 'wip/partials/sort_link.html' with field_sort_on='target_date' field_label='Target Date' %}</th>
                        <th>{% include 'wip/partials/sort_link.html' with field_sort_on='title' field_label='Title' %}</th>
                        <th>{% include 'wip/partials/sort_link.html' with field_sort_on='job__client' field_label='Client' %}</th>
                        <th>{% include 'wip/partials/sort_link.html' with field_sort_on='job' field_label='Job' %}</th>
                        <th class="keep-min-width">{% trans 'Assignees' %}</th>
                        <th class="keep-min-width">{% include 'wip/partials/sort_link.html' with field_sort_on='status' field_label='Status' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr data-id="{{ task.id }}" data-url="{{ task.get_absolute_url }}">
                            <td class="keep-min-width">{{ task.pk }}</td>
                            <td class="keep-min-width{% if task.is_overdue %} c-red{% endif %}">{{ task.target_date|date:'d/m/Y'|default:'-' }}</td>
                            <td>{{ task.title }}</td>
                            <td>{{ task.job.client }}</td>
                            <td>{{ task.job }}</td>
                            <td class="keep-min-width">{% for assignee in task.assignees.all %}{{ assignee.user.get_short_name }}{% if not forloop.last %}, {% endif %}{% empty %}-{% endfor %}</td>
                            <td class="keep-min-width">{{ task.status }}</td>
                        </tr>
                    {% empty %}
                        <tr><td colspan="7">{% trans 'No tasks found.' %}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block extra_css %}{% endblock %}

{% block extra_js %}
<script>
$(function() {
    // auto submit form
    $('form select').on('change', function () {
        $(this).closest('form').submit();
    });
});
</script>
{% endblock %}