{% extends 'base.html' %}
{% load i18n static %}
{% block page_title %}Taskboard{% endblock %}
{% block body_class %}d-flex full-height flex-flow-column{% endblock %}
{% block inner_content %}
    <div class="page-header py-2">
        <div class="container-fluid d-flex align-items-center c-white">
            <div class="h2 mr-2">{% trans 'Taskboard' %}</div>
            <div class="mr-2"><strong>Number of tasks</strong> 254</div>
            <div class="mr-2"><strong>Assigned hours</strong> 750</div>
            <div><strong>Overdue Tasks</strong> 4</div>
            <div class="page-header-actions"></div>
        </div>
    </div>
    <div class="container-fluid d-flex flex-fill scroll-x mt-2 mb-1">

        <div class="board-column d-flex flex-fill">
            <div class="board-column-heading d-flex mb-1">
                <strong class="flex-fill">Pending</strong>
                <i class="icon-plus"></i>
            </div>
            <div class="flex-fill board-card-wrapper">

                <div class="board-card d-flex flex-column">

                    <div class="d-flex align-items-center">
                        <span class="color-indicator" style="background: #bed600"></span>
                        <span class="small uppercase"><strong>Limosa IT / Support</strong></span>
                    </div>

                    <p class="board-card-desc">Some amazing task title to ensure the text doesn't wrap</p>

                    <div class="d-flex">
                        <div class="flex-fill">
                            <i class="icon-bell"></i> <span class="small uppercase">10 Oct</span>
                            <i class="icon-clock"></i> <span class="small uppercase">4/12</span>
                        </div>
                        <div>
                            <div class="avatar avatar-small">
                                <span class="avatar-text">DF</span>
                            </div>
                            <div class="avatar avatar-small">
                                <span class="avatar-text">SG</span>
                            </div>
                            <div class="avatar avatar-small">
                                <span class="avatar-text">NT</span>
                            </div>
                            <div class="avatar avatar-small">
                                <span class="avatar-text">BH</span>
                            </div>
                            <div class="avatar avatar-small">
                                <span class="avatar-text">CV</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="board-card d-flex flex-column">

                    <div class="d-flex align-items-center">
                        <span class="color-indicator" style="background: #bed600"></span>
                        <span class="small uppercase"><strong>Limosa Website Refresh</strong></span>
                    </div>

                    <p class="board-card-desc">As a user I want to login to the CMS so it's protected from authorised access</p>

                    <div class="d-flex">
                        <div class="flex-fill c-danger">
                            <i class="icon-bell"></i> <span class="small uppercase strong">25 Sep</span>
                            <i class="icon-clock"></i> <span class="small uppercase strong">14/12</span>
                        </div>
                        <div>
                            <div class="avatar avatar-small">
                                <span class="avatar-text">DF</span>
                            </div>
                            <div class="avatar avatar-small">
                                <span class="avatar-text">SG</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="board-card">One.One</div>
                <div class="board-card">One.Two</div>
                <div class="board-card">One.Three</div>
                <div class="board-card">One.Four</div>
                <div class="board-card">One.Five</div>
                <div class="board-card">One.Six</div>
            </div>
        </div>

        <div class="board-column d-flex flex-fill">
            <div class="board-column-heading d-flex mb-1">
                <strong class="flex-fill">To Do</strong>
                <i class="icon-plus"></i>
            </div>
            <div class="flex-fill board-card-wrapper">

            </div>
        </div>

        <div class="board-column d-flex flex-fill">
            <div class="board-column-heading d-flex mb-1">
                <strong class="flex-fill">In Progress</strong>
                <i class="icon-plus"></i>
            </div>
            <div class="flex-fill board-card-wrapper">

            </div>
        </div>

        <div class="board-column d-flex flex-fill">
            <div class="board-column-heading d-flex mb-1">
                <strong class="flex-fill">QC/Review</strong>
                <i class="icon-plus"></i>
            </div>
            <div class="flex-fill board-card-wrapper">

            </div>
        </div>

        <div class="board-column d-flex flex-fill">
            <div class="board-column-heading d-flex mb-1">
                <strong class="flex-fill">Approved</strong>
                <i class="icon-plus"></i>
            </div>
            <div class="flex-fill board-card-wrapper">

            </div>
        </div>

        <div class="board-column d-flex flex-fill">
            <div class="board-column-heading d-flex mb-1">
                <strong class="flex-fill">Complete</strong>
                <i class="icon-plus"></i>
            </div>
            <div class="flex-fill board-card-wrapper">

            </div>
        </div>

    </div>

    <div class="modal">
        <div class="modal-panel" style="">
            <div class="container">
                <div class="row mb-2">
                    <div class="col">
                        <div class="d-flex align-items-center">
                            <div>
                                <span class="color-indicator" style="background: #bed600"></span>
                            </div>
                            <div class="flex-fill">
                                <input class="full-width mb-0" type="text" value="Updating iMacs with SSD and software upgrades">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="mb-2">
                            <p class="mb-0-5"><strong>Description</strong></p>
                            {% lorem 1 p %}
                        </div>
                        <div class="mb-2">
                            <p class="mb-0-5"><strong>Notes</strong></p>
                            <textarea class="full-width mb-0-5" placeholder="Write a note..."></textarea>
                            <input class="button button-secondary" type="submit" value="Add">
                        </div>

                        <div class="my-1">
                            <div class="d-flex align-items-center mb-1">
                                <div class="avatar mr-1">
                                    <span class="avatar-text">DF</span>
                                </div>

                                <div>
                                    Oct. 5, 2018, 14:35
                                </div>
                            </div>
                            <div class="panel">
                                {% lorem 1 p %}
                            </div>
                            <div class="small muted">
                                <button class="button button-clear">Edit</button> |
                                <button class="button button-clear">Delete</button>
                            </div>
                        </div>

                        <div class="my-1">
                            <div class="d-flex align-items-center mb-1">
                                <div class="avatar mr-1">
                                    <span class="avatar-text">DF</span>
                                </div>

                                <div>
                                    Oct. 5, 2018, 14:35
                                </div>
                            </div>
                            <div class="panel">
                                {% lorem 1 p %}
                            </div>
                            <div class="small muted">
                                <button class="button button-clear">Edit</button> |
                                <button class="button button-clear">Delete</button>
                            </div>
                        </div>



                    </div>
                    <div class="col-4">
                        <p class="mb-0-5"><strong>Job</strong></p>

                        <select class="full-width input-small">
                            <option value="">--------</option>
                            <option value="Option 1">Accent</option>
                            <option value="Option 2" selected>Limosa</option>
                            <option value="Option 3">Spectra Packaging</option>
                        </select>

                        <select class="full-width input-small">
                            <option value="">--------</option>
                            <option value="Option 1" selected>IT Support</option>
                            <option value="Option 2">Some Other Job</option>
                            <option value="Option 3">Total Awesomeness</option>
                        </select>

                        <hr>

                        <p class="mb-0-5"><strong>Assignees</strong></p>

                        <div class="avatar">
                            <span class="avatar-text">DF</span>
                        </div>
                        <div class="avatar">
                            <span class="avatar-text">SG</span>
                        </div>

                        <hr>

                        <p class="mb-0-5"><strong>Time Spent (hrs)</strong></p>
                        <p>1 of 1.5</p>

                        <hr>

                        <p class="mb-0-5"><strong>Due Date</strong></p>
                        <p>04/05/2019</p>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}

{% block extra_css %}
    <style>html { height: 100%; }</style>
{% endblock %}
{% block extra_js %}{% endblock %}