{% extends 'base.html' %}
{% load i18n static wip_tags %}
{% block page_title %}{% endblock %}
{% block body_class %}{% endblock %}
{% block content %}
    <app-root></app-root>
{% endblock %}

{% block extra_css %}
    <style>html, body { height: 100vh; }</style>
    {% is_debug_mode as is_debug %}
    {% if not is_debug %}
    <link rel="stylesheet" href="{% static 'dist/js/frontend/styles.css' %}">
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script>
        if (global === undefined) { var global = window; }
        // declaring some properties to use in angular
        window.appJSRoot = "{% static 'dist/js/frontend/' %}";
        window.logoutUrl = "{% url 'logout' %}";
    </script>
    {% is_debug_mode as is_debug %}
    {% if is_debug %}
    <script type="text/javascript" src="{% static 'frontend/runtime.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/polyfills.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/styles.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/vendor.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/main.js' %}"></script>
    {% else %}
    <script type="text/javascript" src="{% static 'dist/js/frontend/runtime.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/js/frontend/polyfills.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/js/frontend/styles.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/js/frontend/vendor.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/js/frontend/main.js' %}"></script>
    {% endif %}
{% endblock %}
