// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––


// Typography
$code-font-family:              'Inconsolata', monospace;


// Colours
$colors: (
        "primary":              rgb(30, 117, 168),
);


// forms
$input-use-full-width:          true;
