// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––


// Typography
$base-font-family:              "Nunito", sans-serif;
$code-font-family:              "Inconsolata", monospace;


// Base font
$base-font-size:                13px;


// The font sizes for h1-h6.
$h1-font-size:                  2.4rem;
$h2-font-size:                  1.6rem;


// Colours
$colors: (
  "white":                rgb(255, 255, 255),
  "primary":              rgb(41, 44, 54),
  "shadylady":            rgb(151, 151, 151),
  "arsenic":              rgb(57, 61, 72),
  "solitude":             rgb(236, 240, 241),
  "danger":               rgb(221, 75, 57),
  "dodgerblue":           rgb(51, 191, 255),
  "wildwillow":           rgb(162, 207, 110),
);
$body-background:         rgb(240, 240, 241);


// links
$link-color:              rgb(41, 44, 54);


// misc
$darken-hover-percent:    20%;
$generic-margin-bottom:   1.5rem;


// buttons
$buttons: (
  "white":                map_get($colors, "white") map_get($colors, "primary"),
  "shadylady":            map_get($colors, "shadylady") map_get($colors, "white")
);
$button-padding-y:              .5rem;
$button-padding-x:              1rem;
$button-font-size:              1.3rem;
$button-border-radius:          .1rem;


// forms
$input-use-full-width:          true;
$input-font-size:               1.3rem;
$input-margin-bottom:           $generic-margin-bottom;
$input-border-color-focus:      map-get($colors, "shadylady");


// tables
$table-border-color:            rgba(0, 0, 0, .12);
$table-cell-padding:            1.5rem 1rem;
$table-font-size:               100%;
$table-headed-color:            rgba(0, 0, 0, .12);
$table-hover-color:             rgb(254, 249, 232);


// z-indexes
$z-layers: (
  "tabs": 10
);


// Components
// --------------------------------------


// checkboxes and radios

$checkbox-checked-color:        map-get($colors, "primary");
$checkbox-font-weight:          400;
$checkbox-size:                 2.4rem;
$checkbox-tick-width:           .3rem;
$radio-dot-spacing:             .4rem;


// Input Groups

$input-group-addon-y-padding:   1rem;
$input-group-margin-bottom:     $input-margin-bottom;
