/* karma-css */

@import "variables";
@import "fonts";

/* karma-css core */
@import "node_modules/karma-css/scss/variables";
@import "node_modules/karma-css/scss/import";

/* components */
@import "node_modules/karma-css-components/scss/components/checkbox";
@import "node_modules/karma-css-components/scss/components/input-group";

/* add your custom modules here */
@import "fontello/css/fontello";
@import "module/avatar";
@import "module/board";
@import "module/dropzone";
@import "module/form";
@import "module/header";
@import "module/links";
@import "module/login";
@import "module/modal";
@import "module/page";
@import "module/panel";
@import "module/table";
@import "module/tabs";
@import "module/tags";
@import "module/timesheet";
@import "module/utils";

/* karma-css utilities */
@import "node_modules/karma-css/scss/utilities";
